.ic-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: 1px solid rgba(251, 253, 251, 0.3);
  border-radius: 50%;

  @media (min-width: 75em) {
    height: 3.6rem;
    width: 3.6rem;
  }

  @media (max-width: 74.999em) {
    svg {
      color: var(--primary-lemon);
    }
  }

  svg {
    height: 2rem;
    width: 2rem;
  }
}
// .btn {
//   padding: 1.8rem 2rem;

//   display: inline-flex;
//   height: 5.6rem;

//   background-color: var(--primary-lemon);

//   font: var(--font-heading-h7);
//   font-size: var(--font-size-14);
//   letter-spacing: var(--font-spacing-7);
//   color: rgb(38, 38, 38);
//   line-height: 1;
//   white-space: nowrap;
//   text-transform: uppercase;

//   transition-duration: var(--transition-duration);
//   transition-property: color, background-color;

//   &_dark {
//     background-color: rgba(255, 255, 255, 0.16);

//     color: var(--bg-white);
//   }

//   @media (max-width: 74.999em) {
//     justify-content: center;
//     height: 5rem;
//     width: 100%;

//     font: var(--font-heading-h7);
//   }

//   @media (any-hover: hover) {
//     &:hover {
//       color: var(--primary-lemon);

//       background-color: var(--primary-brown);
//     }
//   }
// }

.btn {
  &:not(&_ghost) {
    --color: #313131;
    --bg: var(--primary-lemon);
    background-color: var(--bg);
    color: var(--color);
    font: var(--font-heading-h7);
    font-size: var(--font-size-14);
    letter-spacing: var(--font-spacing-7);
    line-height: 1;
    padding: 2rem 2rem 1.8rem;
    text-transform: uppercase;
    transition-duration: var(--transition-duration);
    transition-property: color, background-color;

    :disabled {
      --bg: var(--system-gray-1);
    }

    @media (any-hover: hover) {
      &:hover {
        --color: var(--primary-lemon);
        --bg: var(--primary-brown);
        color: var(--primary-lemon);
      }
    }
  }
}

.btn-txt {
  color: var(--primary-brown);
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 140%;
  text-decoration-line: underline;
  transition: color 0.4s ease;

  @media (any-hover: hover) {
    &:hover {
      color: var(--bg-black);
    }
  }

  @media (min-width: 75em) {
    font-size: 2rem;
  }
}
.btn_ghost {
  border: 1px solid var(--bg-black);
  color: var(--c-bg-black);
  cursor: pointer;
  font-size: var(--font-size-14);
  font-style: normal;
  font-weight: 500;
  letter-spacing: var(--font-spacing-7);
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s ease;
  width: 100%;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--primary-brown) !important;
      border: 1px solid transparent;
      color: var(--primary-lemon);
    }
  }
}

.showmore-btn {
  align-items: center;
  color: var(--primary-lemon);
  display: block;
  display: flex;
  font: var(--font-text-xs);
  gap: 0.4rem;
  justify-content: center;
  letter-spacing: var(--font-spacing-7);
  line-height: 100%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  transition: gap 0.4s ease;

  &::after {
    content: '';

    height: 2.4rem;
    width: 2.4rem;

    background: url(@img/icons/cross.svg) center / contain no-repeat;

    @media (min-width: 75em) {
      height: 4rem;
      width: 4rem;
    }

    @media (min-width: 96em) {
      height: 5.2rem;
      width: 5.2rem;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      gap: 1rem;
    }
  }
}
