.ic-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: 1px solid rgba(251, 253, 251, 0.3);
  border-radius: 50%;

  @media (min-width: 75em) {
    height: 3.6rem;
    width: 3.6rem;
  }

  @media (max-width: 74.999em) {
    svg {
      color: var(--primary-lemon);
    }
  }

  svg {
    height: 2rem;
    width: 2rem;
  }
}

.btn {
  &:not(&_ghost) {
    --color: #313131;
    --bg: var(--primary-lemon);
    background-color: var(--bg);
    color: var(--color);
    font: var(--font-heading-h7);
    font-size: var(--font-size-14);
    letter-spacing: var(--font-spacing-7);
    line-height: 1;
    text-align: center;
    padding: 2rem 2rem 1.8rem;
    text-transform: uppercase;
    transition-duration: var(--transition-duration);
    transition-property: color, background-color;
    white-space: nowrap;

    &.btn_brown {
      --color: #fff;
      --bg: #c58b73;

      font-size: 2rem;

      padding: 2.5rem 3.5rem;

      @media (max-width: 64em) {
        padding: 2rem;

        font-size: 1.4rem;
        line-height: 100%;
      }
      @media (max-width: 48em) {
        .silicone & {
          padding: 4rem;

          font-size: 2.8rem;
        }
      }
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &:hover,
    &:focus,
    &:active,
    &._has-focus {
      --color: var(--primary-lemon);
      --bg: var(--primary-brown);
      color: var(--primary-lemon);
    }
  }
}

.btn-txt {
  color: var(--primary-brown);
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 140%;
  text-decoration-line: underline;
  transition: color 0.4s ease;

  &:hover,
  &:focus,
  &:active,
  &._has-focus {
    color: var(--bg-black);
  }

  @media (min-width: 75em) {
    font-size: 2rem;
  }
}
.btn_ghost {
  border: 1px solid var(--bg-black);
  color: var(--c-bg-black);
  cursor: pointer;
  font-size: var(--font-size-14);
  font-style: normal;
  font-weight: 500;
  letter-spacing: var(--font-spacing-7);
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s ease;
  width: 100%;

  &:hover,
  &:focus,
  &:active,
  &._has-focus {
    background-color: var(--primary-brown) !important;
    border: 1px solid transparent;
    color: var(--primary-lemon);
  }
}

.showmore-btn {
  align-items: center;
  color: var(--primary-lemon);
  display: block;
  display: flex;
  font: var(--font-text-xs);
  gap: 0.4rem;
  justify-content: center;
  letter-spacing: var(--font-spacing-7);
  line-height: 100%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  transition: gap 0.4s ease;

  &::after {
    content: "";

    height: 2.4rem;
    width: 2.4rem;

    background: url(@img/icons/cross.svg) center / contain no-repeat;

    @media (min-width: 75em) {
      height: 4rem;
      width: 4rem;
    }

    @media (min-width: 96em) {
      height: 5.2rem;
      width: 5.2rem;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      gap: 1rem;
    }
  }

  &_brown {
    color: var(--primary-brown);

    &::after {
      background: url(@img/icons/cross-brown.svg) center / contain no-repeat;
    }
  }
}

.link {
  align-items: center;
  color: var(--primary-brown);
  display: flex;
  font: var(--font-text-xs);
  letter-spacing: var(--font-spacing-7);
  line-height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: inherit;
  text-underline-offset: 0.3em;

  &::after {
    content: "";
    height: 2.4rem;
    transition: transform 0.4s ease;
    width: 2.4rem;
    background: url(@img/icons/arr-brown.svg) center / contain no-repeat;

    @media (min-width: 75em) {
      height: 4.2rem;
      width: 4.2rem;
    }

    @media (min-width: 96em) {
      height: 5.2rem;
      width: 5.2rem;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      &::after {
        transform: translateX(0.5rem);
      }
    }
  }

  @media (min-width: 96em) {
    font-size: var(--font-size-14);
  }

  &_lemon {
    color: var(--primary-lemon);
    &::after {
      background: url(@img/icons/arr-lemon.svg) center / contain no-repeat;
    }
  }
}
