.controls {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 0;
  z-index: 12;
  column-gap: 1.6rem;
  .swiper-pagination-bullets.swiper-pagination-bullets-dynamic.swiper-pagination-horizontal {
    position: static;
    transform: none;
    margin: auto;
  }

  .swiper-pagination-bullet {
    --swiper-pagination-color: var(--c-primary-lemon);
    --swiper-pagination-bullet-horizontal-gap: 0.3rem;
    --swiper-pagination-bullet-width: 0.2rem;
    --swiper-pagination-bullet-height: 2.4rem;
    --swiper-pagination-color: var(--c-primary-brown);
    --swiper-pagination-bullet-inactive-opacity: 0.3;
    --swiper-pagination-bullet-inactive-color: #ad8366;
    border-radius: 0;
    margin: 0;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
    padding: 0;
    transition: all 0.4s ease;

    display: inline-block;
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 8px)
    );
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 8px)
    );
    flex: 0 0 var(--swiper-pagination-bullet-width);

    transform: scaleY(0.6);
    opacity: 0.2;
    background: var(--primary-lemon);

    &.swiper-pagination-bullet-active {
      opacity: 1;
      transform: none;
    }
  }
  @media (max-width: 74.999em) {
    &:not(.carousel &, .residents &) {
      justify-content: center;
      margin-top: 4rem;
      padding: 0 2rem 2rem;
    }
  }

  &__pagination {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto !important;
    bottom: 0 !important;
  }

  &__btn {
    display: block;

    background: url(@img/icons/arr.svg) center / contain no-repeat;
    border: 0;
    height: 2.4rem;
    outline: none;
    width: 2.4rem;

    @media (min-width: 75em) {
      height: 4rem;
      width: 4rem;
    }

    @media (min-width: 96em) {
      height: 5.2rem;
      width: 5.2rem;
    }

    &_prev {
      transform: scaleX(-1);
    }
  }
}
