.checkbox {
  --checkmark-size: 2rem;
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  grid-column-start: 1;

  // .checkbox__input

  &__input {
    --c-border: rgba(38, 38, 38, 0.6);
    --c-bg: hsla(0, 0%, 100%, 0.88);
    align-items: center;
    background-color: var(--c-bg);
    border: 1px solid var(--c-border);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-right: 1.2rem;

    &::after {
      --size: 1.6rem;
      content: '';
      display: block;
      height: var(--size);
      transform: scale(0);
      transition: transform var(--transition-duration);
      width: var(--size);
      background: url(@img/icons/checkmark.svg) no-repeat 50% / contain;
    }
  }

  // .checkbox__check

  &__check {
    height: var(--checkmark-size);
    width: var(--checkmark-size);
    opacity: 0.0001;
    position: absolute;

    &:checked {
      + .checkbox__input::after {
        transform: scale(1);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        + .checkbox__check {
          --c-border: var(--primary-lemon);
        }
      }
    }
  }

  // .checkbox__label

  &__label {
    color: var(--bg-white);
    flex: 0 1 calc(100% - var(--checkmark-size) - 1.2rem);
    font: var(--font-text-xs);
    margin-top: 0.3rem;
  }
}
