.checkbox {
  --checkmark-size: 2rem;
  align-items: start;
  display: flex;
  position: relative;
  grid-column-start: 1;

  @media (max-width: 48em) {
    .silicone & {
      --checkmark-size: 4rem;
    }
  }

  // .checkbox__input

  &__input {
    --c-border: rgba(38, 38, 38, 0.6);
    --c-bg: hsla(0, 0%, 100%, 0.88);
    align-items: center;
    background-color: var(--c-bg);
    border: 1px solid var(--c-border);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-right: 1.2rem;

    @media (max-width: 48em) {
      .silicone & {
        margin-right: 2.4rem;
      }
    }

    &::after {
      --size: 1.6rem;
      content: "";
      display: block;
      height: var(--size);
      transform: scale(0);
      transition: transform var(--transition-duration);
      width: var(--size);
      background: url(@img/icons/checkmark.svg) no-repeat 50% / contain;

      @media (max-width: 48em) {
        .silicone & {
          --size: 3.2rem;
        }
      }
    }
  }

  // .checkbox__check

  &__check {
    height: var(--checkmark-size);
    width: var(--checkmark-size);
    opacity: 0.0001;
    position: absolute;
    z-index: 2;
    &[type="checkbox"] {
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:checked {
      + .checkbox__input::after {
        transform: scale(1);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        + .checkbox__check {
          --c-border: var(--primary-lemon);
        }
      }
    }
  }

  // .checkbox__label

  &__label {
    color: var(--bg-white);
    flex: 0 1 calc(100% - var(--checkmark-size) - 1.2rem);
    font: var(--font-text-xs);
    margin-top: 0;
    a {
      position: relative;
      z-index: 3;
    }
    @media (max-width: 48em) {
      .silicone & {
        font-size: 3.2rem;
      }
    }
  }
}
._has-error.field {
  ::after {
    background: url(@img/icons/err-cross.svg) center / contain no-repeat;
  }
  .field {
    &__input {
      border-bottom: 1px solid rgb(252, 67, 67);
    }
  }
}
.checkbox._has-error .checkbox__input {
  border: 1px solid rgb(252, 67, 67);
}
form._has-error {
  @media (max-width: 48em) {
    margin-top: 2.4rem;
  }
}
.form-message-shell {
  &:not(._has-error &) {
    grid-template-rows: 0fr;
  }
}
@property --scaleX {
  syntax: "<number>"; /* <- defined as type number for the transition to work */
  initial-value: 0;
  inherits: false;
}
.form-message_success {
  position: fixed;
  z-index: 12;
  max-width: 32rem;
  top: 8.5rem;
  right: 2rem;

  @media (min-width: 64em) {
    top: 12rem;
  }
  @media (min-width: 64em) and (max-width: 96em) {
    right: 10rem;
  }
  @media (min-width: 96em) {
    right: 27rem;
  }
  &::after {
    border-bottom: 3px solid #3cda2d;
  }

  &:not(._form-sent) {
    display: none;
  }

  &._form-sent {
    &::after {
      animation: errorAlert 5s ease;
    }
  }

  .form-message {
    &__icon {
      background-color: var(--primary-brown);

      &::after {
        background: url(@img/icons/check-white.svg) center / 1rem no-repeat;
      }
    }
  }
}
.form-message_alert,
.form-message_success {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    transform: scaleX(var(--scaleX));
    transform-origin: left;
  }
}

.form-message_alert {
  position: fixed;
  top: 8.5rem;
  right: 2rem;
  width: 32rem;
  left: auto;

  @media (min-width: 64em) and (max-width: 75em) {
    left: 9.5rem;
    top: -21.5rem;
  }

  @media (min-width: 64em) and (max-width: 96em) {
    right: 10rem;
  }

  @media (min-width: 96em) {
    top: 12rem;
    right: 27rem;
  }

  &::after {
    border-bottom: 3px solid rgb(252, 67, 67);
  }

  &._show-alert {
    &::after {
      animation: errorAlert 5s ease;
    }
  }

  &:not(._show-alert) {
    display: none;
  }
}
@keyframes errorAlert {
  0% {
    --scaleX: 0;
  }
  100% {
    --scaleX: 1;
  }
}
.form-message {
  z-index: 63;
  align-items: baseline;
  background: var(--bg-white);
  color: var(--bg-black);
  display: grid;
  font: var(--font-text-xs);
  gap: 0.8rem;
  grid-template-columns: auto 1fr;
  padding: 1rem;
  text-transform: uppercase;

  &__icon {
    position: relative;
    align-items: center;
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 2rem;
    background-color: rgb(252, 67, 67);
    border-radius: 50%;
    @media (max-width: 64em) {
      &:not(.media-grid .card-cases-grid_video) {
        order: initial;
      }
    }

    &::after {
      content: "";
      width: 1rem;
      height: 1rem;
      background: url(@img/icons/error.svg) center / 1rem no-repeat;
    }
  }

  @media (min-width: 48em) {
    padding: 1.2rem;
  }
}
.select._has-error .select__btn {
  border-bottom: 1px solid rgb(252, 67, 67);
}
html:not(._pages-loaded) .form-message-shell {
  display: none;
}
.form-message-shell {
  display: grid;
  grid-row: 1 / 2;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.3s ease-out;
  @media (min-width: 48.01em) {
    grid-column: 1 / 3;
  }
}

.form-message__outer {
  overflow: hidden;
}

._has-error._error-shake,
._has-error._error-shake .field__input,
._has-error._error-shake .select__btn,
._has-error._error-shake .checkbox__input {
  animation: errorShake 0.38s ease;
}

@keyframes errorShake {
  0% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(-2px, 0, 0);
  }
  40% {
    transform: translate3d(2px, 0, 0);
  }
  60% {
    transform: translate3d(-2px, 0, 0);
  }
  80% {
    transform: translate3d(1px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

[data-form-validate] button._is-loading {
  pointer-events: none;
  opacity: 0.8;
}

.btn-dots {
  display: inline-flex;
  margin-left: 4px;
}

.btn-dots span {
  display: inline-block;
  animation: btnDots 1.2s infinite;
}

.btn-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.btn-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes btnDots {
  0%,
  20% {
    opacity: 0.2;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-2px);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
