.h1 {
  font: var(--font-heading-h1);
  text-transform: uppercase;
}
.h2 {
  font: var(--font-heading-h2);
  text-transform: uppercase;

  .silicone & {
    font-size: 5.6rem;
  }
}
.h3 {
  font: var(--font-heading-h3);
  text-transform: uppercase;
}
.clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: var(--line-clamp, 5);
  -webkit-box-orient: vertical;
}
