.h1 {
  font: var(--font-heading-h1);
  text-transform: uppercase;
}
.h2 {
  font: var(--font-heading-h2);
  text-transform: uppercase;

  .silicone & {
    font-size: 5.6rem;
  }
}
.h3 {
  font: var(--font-heading-h3);
  text-transform: uppercase;
}
.clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: var(--line-clamp, 5);
  -webkit-box-orient: vertical;
}

.h {
  font-family: 'Circe Contrast';
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;

  &_xl {
    font-size: 7.5rem;

    @media (max-width: 49em) {
      font-size: 2.9rem;
    }
    @media (max-width: 930px) and (min-width: 49.01em) {
      font-size: 4.5rem;
    }
  }
  &_x {
    font-size: 5rem;

    @media (max-width: 49em) {
      font-size: 2.7rem;
      line-height: 130%;
    }
  }
  &_m {
    font-size: 3.2rem;

    @media (max-width: 49em) {
      font-size: 2.5rem;
    }
  }
}

.txt {
  font-size: 1.8rem;
  line-height: 140%;

  @media (max-width: 49em) {
    font-size: 1.6rem;
  }

  &_l {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 100%;

    @media (max-width: 49em) {
      font-size: 2rem;
    }
  }

  &_xs {
    line-height: 120%;
    font-size: 1.2rem;
  }

  &_s {
    font-weight: 450;
    font-size: 1.6rem;
    @media (max-width: 49em) {
      font-size: 1.4rem;
    }
  }

  &_m {
    font-size: 2.2rem;
    line-height: 120%;
    font-weight: 410;

    @media (max-width: 49em) {
      font-size: 1.7rem;
    }
  }

  &_uc {
    text-transform: uppercase;
  }
}
