.about-reviews {
  background-color: #3c4b45;

  // .about-reviews__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.container {
      padding: 0;
      padding-top: 8rem;
      padding-bottom: 10rem;

      max-width: 116rem;

      @media (max-width: 49em) {
        padding-top: 5.8rem;
        padding-bottom: 8.5rem;
      }
      @media (max-width: 1199px) {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
      }
    }
  }

  &__lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 49.01em) {
      display: none;
    }
    @media (max-width: 49em) {
      width: 100%;
      margin-top: 1.8rem;
    }
    .controls:not(.carousel .controls):not(.residents .controls):not(
        .mobapp .controls
      ):not(.slider-controls .controls):not(.gallery .controls):not(
        .schedule .controls
      ) {
      margin: 0;
      padding: 0;
      column-gap: 1rem;
    }
    .controls__btn {
      width: 2rem;
      height: 2rem;
      background: url(@img/icons/arr-white.svg) center / contain no-repeat;
    }
    .swiper-pagination-bullet {
      opacity: 1;
      background: var(--bg-white);
    }
    .fraction__current {
      color: #c58b73;
    }
    .fraction__total {
      color: var(--bg-white);
    }
  }

  &__fraction {
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    column-gap: 0.2rem;
  }

  // .about-reviews__heading

  &__heading {
    margin-bottom: 2.4rem;

    max-width: 66rem;

    text-align: center;
    color: var(--bg-white);

    @media (max-width: 49em) {
      margin-bottom: 1rem;
    }

    &.txt {
      line-height: 146%;
    }
  }

  // .about-reviews__highlight

  &__highlight {
    color: var(--primary-lemon);
  }

  // .about-reviews__subtitle

  &__subtitle {
    margin-bottom: 6.4rem;

    text-align: center;
    color: var(--bg-white);
  }

  &__swiper {
    &.swiper {
      width: 100%;
      @media (max-width: 49em) {
        padding: 0 0.6rem;
      }
    }
  }

  // .about-reviews__list

  &__list {
    @media (min-width: 49.01em) {
      &.swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
        width: 100%;
      }
    }
  }

  // .about-reviews__item

  &__item {
  }
}

.item-about-reviews {
  // .item-about-reviews__inner

  &__inner {
    padding: 3.5rem 2.4rem;

    display: flex;
    flex-direction: column;
    min-height: 61.4rem;
    height: 100%;

    background-color: var(--bg-white);

    @media (max-width: 49em) {
      padding: 2rem 2.2rem;

      min-height: auto;
    }
  }

  // .item-about-reviews__heading

  &__heading {
    margin-bottom: 2rem;
    padding-bottom: 1.2rem;

    border-bottom: 0.3rem solid #161616;

    font-weight: 600;
  }

  // .item-about-reviews__text-wrap

  &__text-wrap {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    row-gap: 2rem;
  }

  // .item-about-reviews__txt

  &__txt {
    &.txt {
      line-height: 110%;
    }
  }

  // .item-about-reviews__group

  &__group {
    margin-top: 3rem;

    display: flex;
    column-gap: 2rem;

    @media (max-width: 49em) {
      margin-top: 2rem;
      column-gap: 1.8rem;
    }
  }

  // .item-about-reviews__image-wrap

  &__image-wrap {
    flex: 0 0 5.6rem;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;

    overflow: hidden;

    @media (max-width: 49em) {
      flex: 0 0 5rem;
      width: 5rem;
      height: 5rem;
    }
  }

  // .item-about-reviews__image

  &__image {
    height: 100%;

    object-fit: cover;
  }

  // .item-about-reviews__group-content

  &__group-content {
    padding-top: 0.7rem;

    display: flex;
    flex-direction: column;

    @media (max-width: 49em) {
      padding-top: 0.3rem;
    }
  }

  // .item-about-reviews__group-heading

  &__group-heading {
    color: #ad8467;
  }

  // .item-about-reviews__group-txt

  &__group-txt {
    min-height: 5.6rem;

    color: #6a6a6a;

    @media (max-width: 49em) {
      min-height: auto;
      &.txt {
        font-size: 1.1rem;
      }
    }
  }
}
