.about-culture {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: url(@img/content/bg.webp) center / cover no-repeat;

    @media (max-width: 49em) {
      background: url(@img/content/1533264.webp) center / cover no-repeat;
    }
  }

  // .about-culture__container

  &__container {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    row-gap: 6.6rem;

    color: var(--bg-white);

    &.container {
      padding: 0;
      padding-top: 8rem;
      padding-bottom: 15.3rem;

      max-width: 116rem;

      @media (max-width: 49em) {
        padding-top: 6rem;
        padding-bottom: 8rem;

        row-gap: 6.2rem;
      }
      @media (max-width: 1199px) {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
      }
    }
  }

  // .about-culture__head

  &__head {
    padding-right: 7rem;

    display: flex;
    align-items: flex-end;
    column-gap: 3.3rem;

    @media (max-width: 49em) {
      padding-right: 0;
      flex-direction: column;
      align-items: center;

      text-align: center;
    }
  }

  // .about-culture__heading

  &__heading {
    margin-left: auto;

    max-width: 81.8rem;

    letter-spacing: 0.1rem;
    line-height: 115%;

    @media (min-width: 49.01em) {
      text-align: right;
    }

    @media (max-width: 49em) {
      margin-bottom: 1rem;
    }
  }

  &__highlight {
    color: #c58b73;
  }

  // .about-culture__txt

  &__txt {
    max-width: 25.8rem;

    &.txt {
      line-height: 130%;
      font-weight: 500;

      @media (max-width: 49em) {
        max-width: 19.7rem;
        letter-spacing: 0.04rem;
        line-height: 133%;
      }
    }
  }

  // .about-culture__list

  &__list {
    padding-right: 7rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.3rem;

    @media (max-width: 49em) {
      padding-right: 0;
      flex-direction: column;
      align-items: center;
      gap: 3rem;

      text-align: center;
    }
  }

  // .about-culture__item

  &__item {
  }
}

.item-about-culture {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  min-width: 22rem;

  @media (max-width: 49em) {
    row-gap: 0.5rem;
    width: 100%;
    align-items: center;
  }

  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(7) {
    @media (max-width: 49em) {
      order: 1;

      .item-about-culture__image-wrap {
        margin-bottom: 1.5rem;
      }
    }
  }

  @media (min-width: 49.01em) {
    &:nth-child(3) {
      .item-about-culture__image-wrap {
        flex: 0 0 52.1rem;
        width: 52.1rem;
        height: 11.9rem;
        max-height: 11.9rem;
      }
    }
  }

  // .item-about-culture__heading

  &__heading {
    max-width: 24.8rem;

    color: #c58b73;
  }

  // .item-about-culture__txt

  &__txt {
    max-width: 24.7rem;
    text-transform: lowercase;
    @media (max-width: 49em) {
      &.txt {
        font-size: 1.6rem;
      }
    }
  }

  // .item-about-culture__image-wrap

  &__image-wrap {
    width: 100%;
    height: 11.7rem;

    overflow: hidden;

    @media (min-width: 49.01em) {
      flex: 0 0 26rem;
      width: 26rem;
      height: 12.6rem;
      max-height: 12.6rem;
    }
  }

  // .item-about-culture__image

  &__image {
    height: 100%;

    object-fit: cover;
  }
}
