.about-residents {
  // .about-residents__container

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 6.1rem;

    &.container {
      padding: 0;
      padding-top: 7rem;
      padding-bottom: 12rem;

      max-width: 116.2rem;

      @media (max-width: 49em) {
        padding-top: 6rem;
        padding-bottom: 7.3rem;
        row-gap: 3.1rem;
      }
      @media (max-width: 1199px) {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
      }
    }
  }

  // .about-residents__heading

  &__heading {
    text-align: center;
  }

  // .about-residents__list

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    row-gap: 4.3rem;
    @media (max-width: 49em) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.8rem;
    }
  }

  // .about-residents__item

  &__item {
  }
}

.item-about-residents {
  display: flex;
  flex-direction: column;

  // .item-about-residents__image-wrap

  &__image-wrap {
    position: relative;

    margin-bottom: 1.8rem;

    display: flex;
    height: 32.8rem;

    background-color: #c58b73;

    @media (max-width: 49em) {
      margin-bottom: 1.3rem;
      height: 21rem;
      max-width: 16.5rem;
    }

    &::after {
      content: '';

      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      background: url(@img/content/3.webp) center / cover no-repeat;

      opacity: 0.4;
      mix-blend-mode: screen;
    }
  }

  // .item-about-residents__image

  &__image {
    position: relative;
    z-index: 2;

    margin-top: auto;

    height: 31.9rem;
    width: 100%;

    object-fit: cover;
    object-position: top;

    @media (max-width: 49em) {
      height: 20.9rem;
    }
  }

  // .item-about-residents__label

  &__label {
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: 2.6rem;

    padding: 0 2.6rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;

    text-align: center;
    color: #ede7e2;

    background-color: #253846;

    @media (max-width: 49em) {
      bottom: 1.6rem;
      padding: 0 1.6rem;
      height: 2rem;

      &.txt {
        font-size: 1.2rem;
      }
    }
  }

  // .item-about-residents__heading

  &__heading {
    margin-bottom: 1.2rem;

    max-width: 21.6rem;
    min-height: 6.4rem;

    @media (max-width: 49em) {
      margin-bottom: 0.6rem;
      max-width: 14.6rem;
      min-height: 3.4rem;
    }
  }

  // .item-about-residents__txt

  &__txt {
    max-width: 24.7rem;

    font-size: 1.4rem;
    line-height: 140%;

    @media (max-width: 49em) {
      font-size: 1.2rem;
    }
  }
}
