.about-principles {
  background-color: #253846;

  color: var(--bg-white);

  // .about-principles__container

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 6.4rem;

    &.container {
      padding: 0;
      padding-top: 8rem;
      padding-bottom: 12.2rem;

      max-width: 116.1rem;

      @media (max-width: 49em) {
        padding-top: 6rem;
        padding-bottom: 8rem;

        row-gap: 4rem;
      }
      @media (max-width: 1199px) {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
      }
    }
  }

  // .about-principles__heading

  &__heading {
  }

  // .about-principles__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.9rem;

    @media (max-width: 49em) {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }
  }

  // .about-principles__item

  &__item {
  }
}

.item-about-principles {
  padding-left: 2rem;

  display: flex;
  flex-direction: column;
  border-left: 1px solid #ffffff;

  @media (max-width: 49em) {
    padding-left: 1rem;
  }

  // .item-about-principles__heading

  &__heading {
    margin-bottom: 1.2rem;

    max-width: 31.3rem;

    color: var(--primary-lemon);

    &.txt {
      font-weight: 400;
    }
  }

  // .item-about-principles__txt

  &__txt {
    margin-bottom: auto;

    max-width: 26.4rem;

    @media (max-width: 49em) {
      min-height: 5.9rem;
    }

    &.txt {
      font-weight: 400;
    }
  }

  // .item-about-principles__number

  &__number {
    margin-top: 3rem;

    &.txt {
      font-weight: 400;
      @media (max-width: 49em) {
        font-size: 1.6rem;
      }
    }
  }
}
