.about-community {
  // .about-community__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.container {
      padding: 0;
      padding-top: 8rem;
      padding-bottom: 10.6rem;

      max-width: 116.1rem;

      @media (max-width: 49em) {
        padding-top: 6rem;

        padding-bottom: 8.3rem;
      }

      @media (max-width: 1199px) {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
      }
    }
  }

  // .about-community__heading

  &__heading {
    margin-bottom: 2.4rem;

    max-width: 86.8rem;

    text-align: center;

    @media (max-width: 49em) {
      margin-bottom: 1.7rem;
    }
  }

  // .about-community__highlight

  &__highlight {
    color: #c58b73;
  }

  // .about-community__subtitle

  &__subtitle {
    margin-bottom: 6.4rem;

    max-width: 59.1rem;

    text-align: center;

    @media (max-width: 49em) {
      margin-bottom: 2.6rem;
      &.txt {
        line-height: 137%;
      }
    }
  }

  // .about-community__list

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.1rem;
    row-gap: 2.7rem;

    @media (max-width: 49em) {
      display: flex;
      flex-direction: column;
      row-gap: 1.2rem;
    }
  }

  // .about-community__item

  &__item {
  }

  // .about-community__message

  &__message {
    grid-column: span 2;
  }
}

.item-about-community {
  position: relative;

  background-color: #253846;
  // .item-about-community_beige

  &_beige {
    background-color: #c58b73;
  }

  // .item-about-community_has-bg

  &_has-bg {
  }

  // .item-about-community__inner

  &__inner {
    position: relative;
    z-index: 2;

    padding: 2.4rem 1.6rem;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    min-height: 26rem;

    color: var(--bg-white);

    @media (max-width: 49em) {
      padding: 2rem 1.6rem;
      row-gap: 1rem;
      min-height: 18rem;
    }
  }

  // .item-about-community__number

  &__number {
    margin-top: auto;

    font-family: 'Circe Contrast';
    font-weight: 400;

    @media (max-width: 49em) {
      &.txt {
        font-size: 3rem;
      }
    }
  }

  // .item-about-community__txt

  &__txt {
    &.txt {
      line-height: 120%;

      @media (max-width: 49em) {
        font-size: 1.4rem;
        max-width: 27rem;
      }
    }
  }

  // .item-about-community__image-wrap

  &__image-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &::after {
      content: '';

      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 116.11%);
    }
  }

  // .item-about-community__image

  &__image {
    height: 100%;

    object-fit: cover;
  }

  // .item-about-community__bg

  &__bg {
    position: absolute;
    top: 1rem;
    right: 2rem;

    width: 15rem;

    @media (max-width: 49em) {
      top: 1rem;
      right: 1rem;
      width: 11rem;
    }
  }

  // .item-about-community__bg-img

  &__bg-img {
  }
}
.message-about-community {
  // .message-about-community__inner

  &__inner {
    position: relative;

    padding: 5.1rem 5rem 4.3rem 7.5rem;

    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;

    background-color: var(--bg-white);

    @media (max-width: 49em) {
      padding: 2.8rem 3rem 2.7rem 4.2rem;
      row-gap: 1.7rem;

      &::before {
        top: 2.7rem;
        left: 2.7rem;
        height: calc(100% - 5rem);
      }
    }

    &::before {
      content: '';

      position: absolute;
      top: 5.1rem;
      left: 5rem;

      width: 2px;
      height: calc(100% - 10.1rem);

      background-color: #d5a286;
    }
  }

  // .message-about-community__txt

  &__txt {
    max-width: 43.1rem;

    @media (max-width: 49em) {
      &.txt {
        font-size: 1.4rem;
        line-height: 120%;
      }
    }
  }

  // .message-about-community__group

  &__group {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    @media (max-width: 49em) {
      column-gap: 1rem;
    }
  }

  // .message-about-community__image-wrap

  &__image-wrap {
    flex: 0 0 5.6rem;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;

    overflow: hidden;

    @media (max-width: 49em) {
      flex: 0 0 3.4rem;
      width: 3.4rem;
      height: 3.4rem;
    }
  }

  // .message-about-community__image

  &__image {
    height: 100%;

    object-fit: cover;
  }

  // .message-about-community__group-content

  &__group-content {
    display: flex;
    flex-direction: column;
  }

  // .message-about-community__group-subtitle

  &__group-subtitle {
    font-weight: 500;

    @media (max-width: 49em) {
      &.txt {
        font-size: 1.2rem;
      }
    }
  }

  // .message-about-community__group-txt

  &__group-txt {
    color: #6a6a6a;
    @media (max-width: 49em) {
      &.txt {
        font-size: 1.2rem;
      }
    }
  }
}
