.cases-hero {
  position: relative;
  z-index: 5;
  background-color: var(--bg-black);
  margin-bottom: 2.4rem;
  padding: 8.3rem 0 1.4rem;

  @media (min-width: 75em) {
    margin-bottom: 4.5rem;
    padding: 21.2rem 0 2.7rem;
  }

  @media (min-width: 96em) {
    margin-bottom: 6.4rem;
    padding: 27.6rem 0 3.8rem;
  }

  &_media {
    .filters {
      @media (max-width: 48em) {
        &::after {
          background: linear-gradient(90deg, #26262600, #262626);
          bottom: 0;
          content: '';
          height: 100%;
          pointer-events: none;
          position: absolute;
          right: 0;
          width: 2.5rem;
          z-index: 5;
        }
      }
    }
  }

  &__content {
    position: relative;

    .cases-hero_media & {
      @media (max-width: 74.999em) {
        margin-bottom: 0.8rem;
      }
    }
  }

  &__bread-items {
    margin-bottom: 3.2rem;

    &.bread-items {
      justify-content: center;
    }

    .bread-items__item:last-child .bread-items__inner {
      color: #fff9;
    }

    .bread-items__item {
      &:not(:last-child) {
        &::after {
          background: url(@img/icons/breadlinkwhite.svg) center / contain
            no-repeat;
        }
      }
    }

    @media (min-width: 75em) {
      display: none;
    }
  }

  // .cases-hero__container

  &__container {
    .filters__sublist .filters__item-content {
      &::after {
        display: none;
      }
    }
    .cases-hero__item_showmore {
      > .cases-hero__item-content {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: 0.6rem;
        position: relative;

        &::after {
          background: url(@img/icons/icon-down.svg) center / contain no-repeat;
          content: '';
          display: block;
          height: 1.8rem;
          width: 1.8rem;
        }
      }
    }
  }

  // .cases-hero__title

  &__title {
    color: var(--bg-white);
    font: var(--font-heading-h1);
    margin: 0 0 0.8rem;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 75em) {
      font: var(--font-heading-h0);
      margin: 0 0 1.2rem;
    }
  }

  // .cases-hero__filters

  &__filters {
    @media (max-width: 74.999em) {
      .cases-hero_media & {
        max-width: calc(100% - 4rem);
        overflow: hidden;
        position: relative;
      }
    }
    @media (max-width: 64em) {
      ._show-search & {
        display: none;
      }
    }
  }
}

.search-cases-hero {
  @media (min-width: 64.999em) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__deny {
    background-color: transparent;
    border: 0;
    color: var(--primary-brown);
    font: var(--font-heading-h7);
    font-weight: 500;
    outline: 0;

    &:not(._show-search &) {
      display: none;
    }

    @media (min-width: 64.999em) {
      display: none;
    }
  }

  // .search-cases-hero__label

  &__label {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    width: 23rem;

    @media (max-width: 64em) {
      width: 100%;
    }

    &._is-active {
      .search-cases-hero__icon_close {
        display: inline-flex;
      }
    }
  }

  &__input {
    color: var(--bg-white);
    font-size: var(--font-size-14);
    letter-spacing: var(--font-spacing-7);
    text-transform: uppercase;
    background: transparent;
    border: 0;
    height: 100%;
    outline: 0;
    width: 100%;

    @media (max-width: 64em) {
      &:not(._show-search &) {
        display: none;
      }
    }

    &::placeholder {
      color: var(--bg-white);
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    ._show-search & {
      display: none;
    }

    @media (min-width: 64.999em) {
      display: none;
    }
  }

  // .search-cases-hero__icon

  &__icon {
    display: inline-flex;

    @media (max-width: 64em) {
      &:not(._show-search &) {
        display: none;
      }
    }

    &_close {
      display: none;

      svg {
        color: #fff;
      }
    }

    svg {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
}

.cases-grid {
  margin-bottom: 5.2rem;
  @media (min-width: 64em) {
    margin-bottom: 7rem;
  }

  // .cases-grid__container

  &__container {
  }

  // .cases-grid__list

  &__list {
    display: grid;
    gap: 2rem;
    grid-auto-flow: dense;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
    @media (min-width: 48em) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 75em) {
      gap: 5.2rem 3.6rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  // .cases-grid__card

  &__card {
  }

  // .cases-grid__showmore-btn

  &__showmore-btn {
    margin-top: 6.5rem;
    color: var(--primary-brown);

    &::after {
      background: url(@img/icons/cross-brown.svg) center / contain no-repeat;
    }

    @media (min-width: 64em) and (max-width: 96em) {
      margin-top: 5.9rem;
    }

    @media (min-width: 96em) {
      margin-top: 3.4rem;
    }
  }
}

.bg-card {
  height: 42.2rem;
  background-color: #ac8365;
  width: 100%;
  align-content: flex-end;

  &:not(.media-grid &) {
    @media (min-width: 64em) and (max-width: 96em) {
      height: 42rem;
    }

    @media (min-width: 96em) {
      height: 50.1rem;
    }
  }

  .media-grid & {
    height: 100%;
    @media (min-width: 64em) {
      min-height: 45.8rem;
    }
    @media (min-width: 96em) {
      min-height: 59rem;
    }
  }

  // .bg-card__image-wrap

  &__image-wrap {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
  }

  // .bg-card__image

  &__image {
    height: 100%;
    object-fit: contain;
    object-position: bottom;

    @media (min-width: 64em) {
      max-height: 50.5rem;
    }

    @media (min-width: 75em) and (max-width: 96em) {
      max-height: 50rem;
    }
  }
}

.card-cases-grid {
  height: 42.2rem;
  position: relative;
  background-color: var(--bg-white);

  &_video {
    color: var(--bg-white);

    @media (max-width: 75em) {
      grid-row: 5 / 6;
    }

    .card-cases-grid__title {
      padding-bottom: 0;
      margin: 0;
      border: 0;
    }

    .card-cases-grid__footer {
      border-top: 1px solid var(--bg-white);
    }

    .authors-card-cases-grid__tag {
      color: var(--bg-white);
    }

    .card-cases-grid__image {
      object-position: 0rem 0rem;
    }
  }

  &_large {
    @media (min-width: 40em) {
      grid-column: span 2;
    }
  }
  @media (any-hover: hover) {
    &:hover {
      .authors-card-cases-grid__more {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  @media (min-width: 96em) {
    height: 50.1rem;
    padding-block-start: 3.8rem;
  }

  // .card-cases-grid__inner

  &__inner {
    color: unset;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: var(--bg-white);
  }

  &__image-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__image {
    height: 100%;
    object-fit: cover;
  }

  &__video-content {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-between;
    padding: 0 2rem 1.6rem;

    @media (min-width: 64em) and (max-width: 96em) {
      padding: 0 2.4rem 1.6rem;
    }

    @media (min-width: 96em) {
      padding: 0 3.4rem 2.8rem;
    }
  }

  &__video-icon {
    align-items: center;
    -moz-column-gap: 1.2rem;
    column-gap: 1.2rem;
    display: flex;
    font: var(--font-heading-h7);

    &::before {
      content: '';

      height: 4rem;
      width: 4rem;

      background: url(@img/icons/video.svg) center / contain no-repeat;
    }
  }

  // .card-cases-grid__wrap

  &__wrap {
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-between;
    padding-block-start: 2.4rem;
    @media (min-width: 64em) and (max-width: 96em) {
      padding-block-start: 2.8rem;
    }

    @media (min-width: 96em) {
      padding: 0;
    }
  }

  // .card-cases-grid__content

  &__content {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
  }

  // .card-cases-grid__body

  &__body {
    display: flex;
    flex-flow: column;
    height: 100%;
    max-width: 32rem;
    padding-inline: 2rem;
    row-gap: 3.4rem;
    width: 100%;
    @media (min-width: 64em) and (max-width: 96em) {
      max-width: 33.6rem;
      padding-inline: 2.4rem;
      row-gap: 2.2rem;
    }
    @media (min-width: 96em) {
      max-width: 43.6rem;
      padding-inline: 3.4rem;
      row-gap: 4rem;
    }
  }

  // .card-cases-grid__text-wrap

  &__text-wrap {
  }

  // .card-cases-grid__title

  &__title {
    align-items: flex-end;
    border-bottom: 0.3rem solid var(--bg-black);
    display: flex;
    font: var(--font-heading-h5);
    margin: 0 0 1.2rem;
    min-height: 7.2rem;
    padding-bottom: 1.2rem;
    position: relative;
    text-transform: uppercase;

    .clamp {
      --line-clamp: 2;
    }
    @media (min-width: 64em) {
      margin: 0 0 1.6rem;
    }
    @media (min-width: 64em) and (max-width: 96em) {
      padding-bottom: 1.4rem;
    }
    @media (min-width: 96em) {
      padding-bottom: 1.5rem;
    }
  }

  // .card-cases-grid__text

  &__text {
    --line-clamp: 4;
    color: var(--bg-black);
    font-family: var(--font-family-main);
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 130%;
    max-width: 28rem;
    width: 100%;
    @media (min-width: 64em) and (max-width: 96em) {
      max-width: 28.8rem;
    }
    @media (min-width: 96em) {
      max-width: 36.8rem;
    }
  }

  // .card-cases-grid__authors

  &__authors {
    @media (min-width: 48em) {
      row-gap: 1.2rem;
    }
  }

  // .card-cases-grid__footer

  &__footer {
    border-top: 0.1rem solid hsla(25, 30%, 54%, 0.6);
    min-height: 4.8rem;
    padding: 1.4rem 2.8rem;
    position: relative;
    @media (min-width: 64em) and (max-width: 96em) {
      padding: 1.6rem 2.4rem;
    }
    @media (min-width: 96em) {
      min-height: 6.2rem;
      padding: 1.2rem 2.8rem;
    }
  }
}
.authors-card-cases-grid {
  display: flex;
  flex-flow: column nowrap;
  margin-block-start: auto;
  padding-bottom: 2.3rem;
  row-gap: 1rem;

  // .authors-card-cases-grid__images

  &__images {
    display: flex;
  }

  // .authors-card-cases-grid__item

  &__item {
    display: inline-flex;
  }

  // .authors-card-cases-grid__image-wrap

  &__image-wrap {
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    overflow: hidden;

    @media (min-width: 96em) {
      height: 6.4rem;
      width: 6.4rem;
    }
  }

  // .authors-card-cases-grid__image

  &__image {
    width: 5.2rem;
    height: 100%;
    object-fit: cover;

    @media (min-width: 96em) {
      width: 6.4rem;
    }
  }

  // .authors-card-cases-grid__text

  &__text {
    max-width: 29rem;
    width: 100%;

    span {
      font: var(--font-text-s);
      font-weight: 300;
    }
  }

  // .authors-card-cases-grid__tags

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
  }

  // .authors-card-cases-grid__tag

  &__tag {
    color: var(--primary-brown);
    font: var(--font-heading-h7);
    letter-spacing: var(--font-spacing-7);
    text-transform: uppercase;
  }

  // .authors-card-cases-grid__more

  &__more {
    align-items: center;
    background-color: var(--primary-brown);
    color: var(--bg-white);
    display: flex;
    font: var(--font-heading-h7);
    gap: 0.38rem;
    height: calc(100% + 0.1rem);
    left: 0;
    letter-spacing: var(--font-spacing-7);
    opacity: 0;
    padding: 1.3rem 3.4rem;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    top: -0.1rem;
    transition: all 0.4s ease;
    visibility: hidden;
    width: 100%;

    &::after {
      content: '';

      height: 3.6rem;
      width: 3.6rem;

      background: url(@img/icons/more.svg) center / contain no-repeat;
    }
  }
}
