.countdown__inner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  margin-bottom: 26.4rem;

  @media (min-width: 48.01em) {
    padding: 0 4rem;
  }
}
.countdown__item {
  position: relative;
  width: 16rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}
@media (min-width: 48.01em) {
  .countdown__item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -4rem;
    top: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(71, 54, 42, 0.66) 0%,
      #ad8366 51.44%,
      rgba(71, 54, 42, 0.66) 100%
    );
  }
}
.countdown__value {
  font-family: "Circe Contrast";
  font-size: 11rem;
  line-height: 125%;
  text-transform: uppercase;
  color: #ede7e2;
  margin-bottom: 1.2rem;

  @media (max-width: 48em) {
    font-size: 6rem;
  }
}
.countdown__label {
  font-family: "Futura";
  font-size: 1.8rem;
  line-height: 113%;
  text-transform: uppercase;
  opacity: 0.9;

  @media (max-width: 48em) {
    font-size: 1.5rem;
  }
}

.countdown-banner {
  position: relative;
  padding-top: 14.6rem;
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.19) 100%
    );
    isolation: isolate;
    backdrop-filter: blur(0.5rem);

    @media (max-width: 48em) {
      backdrop-filter: blur(0.3rem);
    }
  }

  // .countdown-banner__container

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    align-items: center;
  }

  // .countdown-banner__heading

  &__heading {
    margin-bottom: 4rem;
    text-align: center;
    color: #fff;
    span {
      color: var(--primary-lemon);
    }
  }

  // .countdown-banner__subtitle

  &__subtitle {
    margin-bottom: 7rem;
    text-align: center;
    color: #fff;
    font-family: "Futura";
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 113%;
    @media (max-width: 48em) {
      font-size: 1.8rem;
    }
  }

  // .countdown-banner__lower

  &__lower {
    padding: 5.2rem;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.49);
    border-top: 1px solid rgba(255, 255, 255, 0.44);
    width: 100dvw;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }

  // .countdown-banner__btn

  &__btn.btn {
    min-width: 28rem;
    height: 5.5rem;
    background-color: #ad8366;
    color: var(--primary-lemon);
    @media (any-hover: hover) {
      &:hover {
        background-color: #9e785d;
      }
    }
  }

  // .countdown-banner__bg-wrap

  &__bg-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  // .countdown-banner__bg

  &__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
