.dating {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: var(--bg-black);
  color: var(--bg-white);

  @media (max-width: 500px) {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }

  // .dating__container

  &__container.container {
    display: grid;
    grid-template-columns: 1.07fr 1fr;
    align-items: center;
    column-gap: 5.6rem;

    @media (min-width: 1200.1px) and (max-width: 96em) {
      padding: 0 14rem;
    }

    @media (max-width: 1200px) {
      column-gap: 3.2rem;
    }

    @media (max-width: 48em) {
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }

  // .dating__image-wrap

  &__image-wrap {
    width: 100%;
    grid-row: 1/3;

    image {
      will-change: transform;
      transition: transform 0.1s linear;
    }

    @media (max-width: 48em) {
      margin-bottom: 3.2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 2/3;
  }

  // .dating__heading

  &__heading {
    margin-top: 5.1rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    font: var(--font-heading-h2);
    grid-column: 2/3;

    @media (max-width: 48em) {
      order: -1;
    }

    @media (max-width: 500px) {
      margin-bottom: 2rem;
      margin-top: 0;
      font-size: 3.4rem;
    }
  }

  // .dating__subtitle

  &__subtitle {
    margin-bottom: 2.4rem;
    font-size: 2.2rem;
    line-height: 120%;
    text-transform: uppercase;

    @media (max-width: 48em) {
      margin-bottom: 2rem;
    }
  }

  // .dating__txt

  &__txt {
    margin-bottom: 5.7rem;
    font-size: 2.2rem;
    line-height: 120%;

    @media (max-width: 1200px) {
      margin-bottom: 3rem;
      font-size: 1.8rem;
    }

    @media (max-width: 500px) {
      margin-bottom: 4rem;
      font-size: 2.2rem;
    }

    @media (min-width: 48.01em) {
      &._mobile-only {
        display: none;
      }
    }

    @media (max-width: 48em) {
      &._desktop-only {
        display: none;
      }
    }
  }

  // .dating__btn

  &__btn.btn {
    margin-top: auto;

    @media (max-width: 500px) {
      margin-top: 0;
      width: 100%;
    }
  }
}
