.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  overflow: hidden;

  @media (min-width: 64em) and (max-width: 96em) {
    padding-bottom: 7rem;
  }

  @media (max-width: 75em) {
    padding-bottom: 7rem;
  }

  @media (min-width: 96em) {
    padding-bottom: 10rem;
  }

  &__crumbs {
    flex-grow: 1;
    margin-bottom: 0;

    .bread-items__item {
      &:last-child {
        .bread-items__inner {
          color: #fff9;
        }
      }
      &:not(:last-child) {
        &::after {
          background-image: url(@img/icons/breadlinkwhite.svg);
        }
      }
    }
  }

  &__wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__description {
    font: var(--font-text-m);
    margin-top: 4.8rem;
    max-width: 90rem;
    text-transform: uppercase;
    @media (min-width: 75em) {
      font: var(--font-text-xl);
      margin-top: 4.6rem;
    }
    @media (min-width: 96em) {
      margin-top: 5.6rem;
    }
  }
  video {
    width: 100%;
    height: 100%;

    object-position: center center;
  }

  // .hero__container

  &__container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    position: relative;
    text-transform: uppercase;
    flex: 1 1 auto;
    z-index: 12;
    color: var(--bg-white);
    width: 100%;

    &.container {
      padding-top: var(--hero-carousel-padding-top);
    }
  }

  &__btn {
    margin-top: 2.8rem;

    @media (min-width: 75em) {
      margin-top: 4rem;
    }
  }

  // .hero__title

  &__title {
    max-width: 80rem;
    word-break: break-word;
    // font: var(--font-heading-h1);

    @media (min-width: 96em) {
      max-width: 103rem;
      margin-top: 13vh;
    }
  }

  // .hero__text

  &__text {
    margin-top: 2rem;

    max-width: 80rem;

    text-transform: uppercase;

    @media (min-width: 96em) {
      margin-top: 3.2rem;
    }

    @media (min-width: 75em) {
      margin-top: 2.8rem;
    }
  }

  // .hero__btn

  &__btn {
    margin-top: 2.8rem;

    &.btn {
      width: auto;
    }

    @media (min-width: 75em) {
      margin-top: 4rem;
    }
  }

  &__image-wrap {
    display: block;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    position: absolute;
    top: 0;
    width: 100%;

    ._mobile-only {
      display: none;
    }

    @media (max-width: 75em) {
      ._desktop-only {
        display: none;
      }
      ._mobile-only {
        display: block;
      }
    }

    img {
      object-fit: cover;
      height: 100%;
    }

    &::after {
      background: #0009;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  // .hero__video

  &__video {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    &::after {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;

      background: #0009;
    }
  }

  &_residents {
    @media (max-width: 74.999em) {
      padding-bottom: 6rem;
    }

    @media (max-width: 63.999em) {
      .container {
        padding-bottom: 6rem;
      }
    }
  }

  &_calendar {
    .hero {
      &__description {
        margin-top: 4.8rem;
        @media (min-width: 75em) and (max-width: 96em) {
          font: var(--font-text-xl);
          margin-top: 4.6rem;
        }
        @media (min-width: 96em) {
          margin-top: 5.6rem;
        }
      }
      &__btn {
        margin-top: 3rem;

        @media (max-width: 75em) {
          margin-top: 5rem;
        }
      }
    }
  }

  &_mainpage {
    @media (max-width: 75em) {
      padding-bottom: 6rem;
    }
    .hero {
      &__title.h1 {
        font: var(--font-heading-h0);
      }
    }
  }

  &_calendar {
    @media (max-width: 63.999em) {
      padding-bottom: 6rem;
    }
    .hero__btn {
      @media (max-width: 64em) {
        margin-top: 5.2rem;
      }
    }
    .hero__description {
      @media (max-width: 64em) {
        margin-bottom: auto;
      }
    }
    .hero__container {
      padding-top: 8.2rem;
      @media (max-width: 64em) {
        padding-bottom: 0;
      }

      @media (min-width: 75em) {
        padding-top: 16.9rem;
      }
      @media (min-width: 96em) {
        padding-top: 18.6rem;
      }
    }
    .hero__title {
      font: var(--font-heading-h2);
      margin-top: 20rem;
      max-width: 90rem;
      overflow-wrap: anywhere;
      text-transform: uppercase;
      @media (min-width: 75em) {
        margin-top: 7.6rem;
      }
      @media (min-width: 96em) {
        margin-top: 9.5rem;
      }
    }
  }
}

.info-hero {
  --gap-x: 1.5rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font: var(--font-text-m);
  gap: 2.1rem var(--gap-x);
  margin-top: 2.6rem;
  position: relative;
  text-transform: uppercase;
  width: fit-content;

  @media (min-width: 75em) and (max-width: 96em) {
    --gap-x: 1.6rem;
    margin-top: 2rem;
  }
  @media (min-width: 96em) {
    --gap-x: 2rem;
    margin-top: 3.2rem;
  }

  &::before {
    background: var(--bg-white);
    content: '';
    height: 1px;
    left: 0px;
    position: absolute;
    width: 100%;

    @media (max-width: 39.999em) {
      top: 4rem;
    }
    @media (min-width: 40em) and (max-width: 96em) {
      bottom: -1.8rem;
    }
    @media (min-width: 96em) {
      bottom: -2.4rem;
    }
  }

  &__badge {
    align-items: center;
    display: flex;
    font: var(--font-text-m);
    gap: 0.8rem;

    @media (max-width: 74.999em) {
      font: var(--font-text-xs);
    }

    svg {
      color: var(--primary-lemon);
    }

    &_dot {
      gap: 0;
      padding-left: 1rem;
      &::before {
        background: var(--primary-lemon);
        content: '';
        width: 100%;
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
        margin-right: 1rem;

        @media (min-width: 96em) {
          height: 1rem;
          width: 1rem;
        }
      }

      @media (min-width: 64em) {
        gap: 0;
        padding-left: 1.5rem;
        &::before {
          margin-right: 1.5rem;
        }
      }
    }

    span {
      white-space: nowrap;
    }

    svg {
      height: 2rem;
      width: 2rem;
    }
    text-transform: uppercase;

    @media (min-width: 64em) and (max-width: 96em) {
      svg {
        height: 2.8rem;
        width: 2.8rem;
      }
    }

    @media (min-width: 96em) {
      --gap: 0.8rem;
      line-height: 6.2rem;

      svg {
        height: 3.2rem;
        width: 3.2rem;
      }
    }
  }
  // .info-hero__date

  &__date {
    position: relative;
    font-size: 2.8rem;
    color: var(--primary-lemon);
    &::after {
      background: var(--bg-white);
      content: '';
      height: 100%;
      right: 0px;
      position: absolute;
      width: 1px;
      top: 0;
    }
    @media (min-width: 75em) and (max-width: 96em) {
      --gap: 1rem;
    }
    @media (min-width: 75em) {
      margin-right: var(--gap);
      padding-right: calc(var(--gap-x) + var(--gap));
    }
    @media (min-width: 96em) {
      --gap: 0.8rem;
      line-height: 6.2rem;
    }
    @media (max-width: 1560px) and (min-width: 48em) {
      font-size: 2.4rem;
    }
    @media (max-width: 64em) {
      padding-right: 1.5rem;
    }
    @media (max-width: 48em) {
      font-size: 1.8rem;
      line-height: 3.2rem;
    }
  }
}

.txt32 {
  font: var(--font-text-xl);
  letter-spacing: var(--font-spacing-7);
}
