.infographics {
  position: relative;

  background: var(--bg-super-black);
  overflow: hidden;

  @media (min-width: 48em) {
    padding-inline: 4rem;
  }

  &__wrap {
    position: relative;

    width: 100vw;
  }

  // .infographics__container

  &__container {
    position: relative;

    &.container {
      padding: 4.8rem 4.8rem 0;

      @media (max-width: 1280px) and (min-width: 48em) {
        padding: 7rem 10rem 0;
      }

      @media (max-width: 1023px) and (min-width: 48em) {
        padding: 4.8rem 4.8rem 0;
        max-width: 100%;
      }

      @media (min-width: 64em) and (max-width: 96em) {
        max-width: 132rem;
        padding: 6.8rem 10rem 0;
      }

      @media (min-width: 96em) {
        max-width: 182rem;
        padding: 8rem 11rem 0;
      }

      @media (max-width: 48em) {
        max-width: 40rem;
        padding: 4.8rem 4.8rem 0;
      }
    }
  }

  // .infographics__title

  &__title {
    margin: 0 0 5.2rem;
    text-align: center;
    color: var(--primary-brown);

    @media (min-width: 75em) {
      margin: 0 0 5.6rem;
    }

    @media (min-width: 96em) {
      margin: 0 0 5.2rem;
    }
  }

  &__carousel {
    position: relative;

    @media (min-width: 48em) {
      display: none;
    }

    .infographics__slide-image {
      display: flex;
      justify-content: center;
    }

    .swiper-slide img {
      height: 27rem;
      width: auto;
    }
  }

  &__controls {
  }

  // .infographics__image-wrap

  &__image-wrap {
    @media (max-width: 767px) {
      display: none;
    }
  }

  // .infographics__image

  &__image {
  }

  // .infographics__bottom

  &__bottom {
    padding: 11.4rem 2rem 6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @media (min-width: 1024.999px) and (max-width: 96em) {
      max-width: 90.9rem;
      padding: 6.8rem 10rem 7rem;
    }
    @media (max-width: 1024px) and (min-width: 48em) {
      padding: 6.8rem 2rem 7rem;
    }
    @media (min-width: 96em) {
      max-width: 112.8rem;
      padding: 8rem 11rem;
    }
  }

  // .infographics__grid

  &__grid {
    display: block;
    margin-bottom: 5.2rem;
    max-width: 20rem;
    text-align: center;

    @media (min-width: 40em) {
      max-width: 30rem;
    }
    @media (min-width: 48em) {
      align-items: start;
      display: grid;
      gap: 5.4rem;
      grid-template-columns: 1fr 2px 1fr;
      margin-bottom: 4.8rem;
      max-width: 100%;
      text-align: left;
    }
    @media (min-width: 96em) {
      gap: 6.3rem;
      margin-bottom: 7.6rem;
    }
  }

  &__grid-line {
    background-color: var(--primary-brown);
    display: block;
    max-height: 10rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
    height: 2px;

    @media (min-width: 48em) {
      height: 100%;
      margin: 0;
      width: 2px;
    }
  }

  // .infographics__grid-item

  &__grid-item {
    color: var(--bg-white);
    font: var(--font-heading-h6);
    text-transform: uppercase;
  }

  // .infographics__btn

  &__btn {
  }

  // .infographics__marquee

  &__marquee {
    --pos-x: 4rem;

    display: none;

    animation: _marquee_1iq5q_1 20s linear infinite;

    @media (min-width: 75em) {
      display: block;
      bottom: 0;
      position: absolute;
      text-orientation: mixed;
      top: 0;
      writing-mode: vertical-rl;
    }

    // .infographics__marquee_left

    &_left {
      left: var(--pos-x);
      scale: -1;
    }

    // .infographics__marquee_right

    &_right {
      right: var(--pos-x);
    }
  }

  // .infographics__marquee-wrap

  &__marquee-wrap {
    column-gap: 2.4rem;
    display: flex;

    span {
      color: var(--primary-brown);
      font: var(--font-text-xs);
      font-weight: 300;
      letter-spacing: var(--font-spacing-30);
      text-transform: uppercase;
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }
  }
}

@keyframes _marquee_1iq5q_1 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-50%);
  }
}
