.media-grid {
  margin-bottom: 6rem;

  article {
    height: 100%;
  }

  @media (min-width: 64em) and (max-width: 96em) {
    margin-bottom: 7rem;
  }
  @media (min-width: 96em) {
    margin-bottom: 10rem;
  }

  // .media-grid__container

  &__container {
  }

  // .media-grid__list

  &__list {
    display: grid;
    gap: 2.1rem 2.5rem;
    grid-auto-flow: dense;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;

    // > li:not(:first-child) {
    //   @media (max-width: 48em) {
    //     display: none;
    //   }
    // }

    .bg-card {
      @media (max-width: 48em) {
        height: 43.6rem;
      }
    }

    .bg-card__image {
      @media (min-width: 1600px) {
        max-height: 58.5rem;
      }
    }

    @media (min-width: 48em) and (max-width: 75em) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 75em) and (max-width: 96em) {
      gap: 4.6rem 4rem;
    }
    @media (min-width: 75em) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 96em) {
      gap: 6rem 3.4rem;
    }
  }

  // .media-grid__card

  &__card {
  }

  &__more {
    margin-top: 6.5rem;

    @media (min-width: 64em) and (max-width: 96em) {
      margin-top: 5.9rem;
    }
    @media (min-width: 96em) {
      margin-top: 3.4rem;
    }
  }
}

.card-media-grid {
  position: relative;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  min-height: 58.5rem;
  height: 100%;
  overflow: hidden;

  @media (max-width: 48em) {
    min-height: 45.5rem;
  }

  @media (any-hover: hover) {
    &:hover {
      .card-media-grid__title-content {
        color: var(--bg-brown);
      }
    }
  }

  &::after {
    content: '';

    position: absolute;
    left: -4.1rem;
    bottom: -6.2rem;

    width: 27.9rem;
    height: 27.9rem;

    background: url(@img/content/ikar2-optimized_CItPGwF.webp) center / contain
      no-repeat;

    opacity: 0.1;
    filter: grayscale(1);

    @media (max-width: 48em) {
      left: -5.1rem;
      bottom: -5.2rem;
      width: 20.9rem;
      height: 20.9rem;
    }
  }

  &__author.author,
  &__tags {
    display: none;
  }

  // .card-media-grid__wrapper

  &__wrapper {
    aspect-ratio: 294 / 192;
    display: block;
    margin-bottom: 1.8rem;
    position: relative;
    text-decoration: none;
    @media (min-width: 75em) {
      aspect-ratio: 336 / 210;
    }
    @media (min-width: 96em) {
      aspect-ratio: 436 / 267;
      margin-bottom: 2.8rem;
    }
  }

  // .card-media-grid__label

  &__label {
    background-color: var(--bg-white);
    color: var(--primary-brown);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    left: 0;
    line-height: 100%;
    overflow: hidden;
    padding: 0.7rem 0.8rem 0.6rem;
    position: absolute;
    text-transform: uppercase;
    top: 1.6rem;
    @media (min-width: 75em) {
      top: 1.6rem;
    }
    @media (min-width: 96em) {
      font-size: 1.4rem;
      padding: 0.8rem 1rem 0.7rem;
    }
  }

  // .card-media-grid__image-wrap

  &__image-wrap {
    position: relative;
    z-index: 2;
    display: inline-flex;
    height: 100%;
    width: 100%;
  }

  // .card-media-grid__image

  &__image {
    height: 100%;
    object-fit: cover;
    aspect-ratio: auto 436 / 267;
  }

  // .card-media-grid__body

  &__body {
    padding: 0 2rem;
    flex: 1 1 auto;
    @media (min-width: 75em) {
      padding: 0 2.4rem;
    }
    @media (min-width: 96em) {
      padding: 0 2.8rem;
    }
  }

  // .card-media-grid__title

  &__title {
    font: var(--font-heading-h5);
    margin: 0 0 1.6rem;
    position: relative;
    text-transform: uppercase;
    @media (min-width: 75em) {
      margin: 0 0 2rem;
    }
  }

  // .card-media-grid__title-wrap

  &__title-wrap {
    color: var(--bg-black);
    display: flex;
    min-height: 7.2rem;
    text-decoration: none;
    @media (min-width: 75em) {
      min-height: 7.8rem;
    }
    @media (min-width: 96em) {
      min-height: 9.6rem;
    }
  }

  // .card-media-grid__title-content

  &__title-content {
    transition: color 0.5s ease-in-out;
    .media-grid & {
      @media (max-width: 64em) {
        line-height: 170%;
      }
    }
  }

  // .card-media-grid__author

  &__author {
  }

  // .card-media-grid__footer

  &__footer {
    border-top: 0.1rem solid hsla(25, 30%, 54%, 0.6);
    min-height: 4.8rem;
    padding: 1.6rem 2rem;
    position: relative;
    z-index: 2;
    @media (min-width: 75em) {
      padding: 1.6rem 2.4rem;
    }
    @media (min-width: 96em) {
      min-height: 6.2rem;
      padding: 1.8rem 2.8rem;
    }
  }

  // .card-media-grid__tags

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // .card-media-grid__tag

  &__tag {
    color: var(--primary-brown);
    font: var(--font-heading-h7);
    letter-spacing: 0.091em;
    text-transform: uppercase;
    @media (min-width: 96em) {
      letter-spacing: 0.098em;
    }
  }

  // .card-media-grid__more

  &__more {
    align-items: center;
    background-color: var(--primary-brown);
    color: var(--bg-white);
    display: flex;
    font: var(--font-heading-h7);
    gap: 0.38rem;
    height: calc(100% + 0.1rem);
    left: 0;
    letter-spacing: 0.098em;
    padding: 1.3rem 3.4rem;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    top: -0.1rem;
    width: 100%;

    @media (max-width: 48em) {
      padding: 1.3rem 2rem;
    }

    @media (any-hover: hover) {
      &:hover {
        span {
          flex: 0 0 auto;
        }
      }
    }

    span {
      flex: 1 1 auto;

      transition: flex 0.5s ease-in-out;
    }

    &::after {
      content: '';

      height: 3.6rem;
      width: 3.6rem;

      background: url(@img/icons/more.svg) center / contain no-repeat;

      @media (max-width: 48em) {
        height: 3rem;
        width: 3rem;
      }
    }
  }
}
.author {
  align-items: center;
  display: flex;
  gap: 1.2rem;
  @media (min-width: 96em) {
    gap: 1.6rem;
  }

  // .author__name

  &__name {
    color: var(--bg-black);
    font: var(--font-text-s);
    margin: 0;
  }

  // .author__info

  &__info {
    font: var(--font-text-xs);
  }

  &__image-wrap {
    display: inline-flex;
  }

  &__image {
    height: 5.2rem;
    width: 5.2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    @media (min-width: 96em) {
      height: 6.4rem;
      width: 6.4rem;
    }
  }
}
