.mobapp {
  background: var(--bg-green);

  // .mobapp__container

  &__container {
    margin-inline: auto;
    margin: 0 auto;
    max-width: 42rem;
    padding-block: 4.8rem 6rem;
    padding-inline: 0;
    @media (min-width: 75em) {
      max-width: 160rem;
      padding-block: 6.8rem 0;
      padding-inline: 10rem;
    }
    @media (min-width: 96em) {
      padding-block: 7.2rem 0;
      padding-inline: 11rem;
    }
  }

  // .mobapp__title-wrap

  &__title-wrap {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    padding-inline: 2rem;
    row-gap: 2.6rem;
    text-align: center;
    @media (min-width: 75em) {
      align-items: flex-start;
      padding-inline: 0;
      row-gap: 4rem;
      text-align: start;
    }
    @media (min-width: 96em) {
      row-gap: 3.2rem;
    }
    @media (max-width: 48em) {
      margin: 0 auto;
    }
  }

  // .mobapp__title

  &__title {
    color: var(--primary-lemon);
    font: var(--font-heading-h2);
    font-family: var(--font-family-second);
    text-transform: uppercase;
    @media (max-width: 48em) {
      max-width: 32rem;
    }
    @media (min-width: 64.999em) and (max-width: 75em) {
      font-size: 4.3rem;
    }
    @media (min-width: 75em) {
      font: var(--font-heading-h1);
    }
    @media (min-width: 75em) and (max-width: 96em) {
      max-width: 89.4rem;
    }
    @media (min-width: 96em) {
      max-width: 86rem;
    }
  }

  &__txt {
    color: var(--bg-white);
    font: var(--font-text-l);
    letter-spacing: var(--font-spacing-7);
    max-width: 32rem;
    text-transform: uppercase;
    width: 100%;
    @media (min-width: 75em) {
      max-width: 52.2rem;
    }
    @media (min-width: 96em) {
      max-width: 60rem;
    }
  }

  // .mobapp__carousel

  &__carousel {
    position: relative;

    @media (min-width: 75em) {
      display: none;
    }
  }

  // .mobapp__slide

  &__slide {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    margin-block-end: 5rem;
    overflow: hidden;
    row-gap: 2rem;
    width: 100%;

    @media (max-width: 48em) {
      margin-bottom: 5rem;
    }
  }

  // .mobapp__slide-wrap

  &__slide-wrap {
    align-items: center;
    border-bottom: 0.1rem solid var(--primary-lemon);
    display: flex;
    flex-direction: column;
    height: 31rem;
    justify-content: end;
    max-width: 42rem;
    position: relative;
    width: 100%;
  }

  &__slide-title {
    span {
      color: var(--bg-white);
      font: var(--font-text-s);
      padding: 0 2rem;
      text-align: center;
      transition: color 0.2s ease-in-out;

      .swiper-slide-active & {
        color: var(--primary-lemon);
      }
    }
  }

  // .mobapp__image

  &__image {
    align-items: flex-end;
    display: flex;
    height: auto;
    justify-content: center;
    max-height: 27rem;
    width: 100%;

    img {
      height: 100%;
    }
  }

  .controls {
    justify-content: center;
    .swiper-pagination-bullet {
      background-color: var(--primary-brown);
    }
    @media (max-width: 74.999em) and (min-width: 64em) {
      margin-top: 1rem;
    }
    @media (max-width: 74.999em) {
      padding-bottom: 0;
    }
    @media (max-width: 64em) and (min-width: 48em) {
      margin-top: 0.8rem;
    }
    @media (max-width: 48em) {
      margin-top: 1.1rem;
    }
  }

  .controls__pagination {
    justify-content: center;
  }

  // .mobapp__custom-slider

  &__custom-slider {
  }
}

.custom-slider-mobapp {
  display: none;
  @media (min-width: 75em) {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  // .custom-slider-mobapp__items

  &__items {
    display: flex;
    flex-flow: column nowrap;
    max-width: 80rem;
    row-gap: 1rem;
    width: 100%;
  }

  // .custom-slider-mobapp__item

  &__item {
    color: var(--bg-white);
    cursor: pointer;
    font: var(--font-text-m);
    letter-spacing: var(--font-spacing-7);
    max-width: 55.4rem;
    padding-block-end: 1.1rem;
    position: relative;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    width: 100%;

    &::before {
      background: var(--primary-lemon);
      bottom: 0;
      content: '';
      height: 0.1rem;
      left: 0;
      position: absolute;
      transform: translate(-100%);
      transition: all 0.4s ease-in-out;
      width: 80rem;
    }

    &._is-active {
      color: var(--primary-lemon);

      &::before {
        transform: translateY(0);
      }
    }
  }

  // .custom-slider-mobapp__wrapper

  &__wrapper {
    height: 59rem;
    margin-top: -15rem;
    position: relative;
    width: 58rem;
    @media (min-width: 96em) {
      width: 78.8rem;
    }
  }

  // .custom-slider-mobapp__image-wrap

  &__image-wrap {
    align-items: flex-end;
    display: flex;
    height: 100%;
    width: 100%;
  }

  // .custom-slider-mobapp__image

  &__image {
    width: 78.8rem;
    height: 58rem;

    @media (min-width: 96em) {
      height: 64rem;
    }
  }
}
