.residents {
  margin-bottom: 0;
  background: var(--bg-blue-green);

  &_mainpage {
    @media (max-width: 74.999em) {
      .controls {
        padding: 0 2rem 0rem;
      }
    }
  }

  .swiper-wrapper {
    align-items: flex-end;
    margin-block-end: 3.2rem;

    @media (min-width: 75em) {
      margin-bottom: 1.2rem;
    }
    @media (min-width: 76em) {
      justify-content: space-between;
    }
    @media (min-width: 96em) {
      margin-bottom: 3.5rem;
    }
  }

  .swiper-wrapper:after {
    background: var(--primary-brown);
    bottom: 0;
    content: '';
    height: 0.1rem;
    left: 0;
    position: absolute;
    width: 1000%;
  }

  .swiper {
    max-width: -moz-fit-content;
    max-width: fit-content;

    @media (min-width: 1441px) {
      margin-inline: auto;
    }

    @media (max-width: 1440px) {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 108rem;

      .residents_events & {
        max-width: none;
      }
    }
  }

  .swiper-slide {
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    overflow: hidden;
  }

  .swiper-pagination-lock {
    @media (min-width: 76em) {
      display: none;
    }
  }

  &__link {
    position: absolute;
    font: var(--font-text-xs);
    letter-spacing: var(--font-spacing-7);
    right: 2rem;
    bottom: -2.2rem;
    @media (min-width: 75em) {
      justify-content: center;
      left: auto;
      margin: 0 auto;
      max-width: -moz-max-content;
      max-width: max-content;
      position: relative;
      right: auto;
    }
  }

  // .residents__container

  &__container {
    margin: 0 auto;
    max-width: 160rem;
    padding: 4.8rem 2rem;

    @media (min-width: 64em) and (max-width: 75em) {
      padding: 4.8rem 10rem;
    }

    @media (min-width: 75em) {
      padding: 6.8rem 10rem;
      padding-bottom: 9rem;
    }

    @media (min-width: 96em) {
      padding: 9rem 11rem;
      padding-bottom: 11rem;
    }
  }

  // .residents__title

  &__title {
    display: flex;
    flex-flow: column nowrap;
    margin-block-end: 5.8rem;
    margin-inline: auto;
    max-width: 32rem;
    row-gap: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    h2 {
      color: var(--primary-lemon);
      font: var(--font-heading-h1);
    }

    p {
      color: var(--bg-white);
      font: var(--font-text-l);
      letter-spacing: var(--font-spacing-2);
    }

    @media (min-width: 48em) {
      margin-block-end: 5.2rem;
      max-width: 70rem;
      row-gap: 3.6rem;
    }

    @media (min-width: 96em) {
      margin-block-end: 8rem;
      max-width: 90rem;
      row-gap: 3.2rem;
    }
  }

  // .residents__carousel

  &__carousel {
    position: relative;
  }

  // .residents__swiper

  &__swiper {
  }

  // .residents__card

  &__card {
  }

  // .residents__controls

  &__controls {
    &.controls {
      margin: 0;
    }
    @media (min-width: 1278px) {
      display: none;
    }
    .residents_events & {
      justify-content: center;
    }
  }

  // .residents__pagination

  .controls__pagination.container.swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-inline: 4.4rem auto;

    @media (max-width: 64em) {
      right: 1rem !important;
      left: auto !important;
    }
  }
}

.resident-card {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 32rem;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;

  @media (max-width: 39.999em) {
    width: auto;
  }
  // .resident-card__text

  &__text {
    display: flex;
    flex-flow: column nowrap;
    margin-block-end: -3rem;
    max-width: 21rem;
    row-gap: 0.4rem;
    width: 100%;

    @media (min-width: 75em) {
      margin-block-end: -1rem;
      max-width: 16rem;
    }

    @media (min-width: 96em) {
      max-width: 24rem;
    }

    span {
      color: var(--bg-white);
      font: var(--font-heading-h6);
      text-align: center;
      text-transform: uppercase;
    }

    p {
      color: var(--primary-brown);
      font: var(--font-text-xs);
      text-align: center;
    }
  }

  // .resident-card__image-wrap

  &__image-wrap {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 27.8rem;
    width: 26.4rem;

    @media (min-width: 75em) {
      height: 22.6rem;
      width: 21.6rem;
    }

    @media (min-width: 96em) {
      height: 28rem;
      width: 26.8rem;
    }
  }

  // .resident-card__image

  &__image {
    object-position: 0 -2rem;
  }
}
.content-container {
}
.pagination {
}
