.chat-btn,
.chat-btn__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.chat-btn::before,
.chat-btn::after {
  content: '';

  position: absolute;

  width: calc(100%);
  height: calc(100%);
  border: 1px solid #ffff00;
  border-radius: 50%;

  transition: visibility 0.3s ease-in-out;

  ._show-chat & {
    animation-play-state: paused;
    visibility: hidden;
  }
}
.chat-btn,
.chat {
  position: fixed;
  z-index: 20;
  bottom: 2rem;
  right: 2rem;
}
.chat-btn {
  flex: 0 0 6rem;
  width: 6rem;
  height: 6rem;

  &::before {
    animation: chatAnim 2s ease-in-out 0.5s infinite;
  }

  &::after {
    animation: chatAnim 2s ease-in-out infinite;
  }

  // .chat-btn__icon

  &__icon {
    width: 100%;
    height: 100%;

    background-color: var(--bg-black);

    svg {
      flex: 0 0 2.4rem;
      width: 2.4rem;
      height: 2.2rem;
    }
  }
}
.chat {
  display: flex;
  flex-direction: column;
  width: 36rem;
  height: 50rem;

  box-shadow: 0 0 1.5rem 0.3rem rgba(34, 60, 80, 0.1);

  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
    transform 0.4s ease-in-out;

  &:not(._show-chat &) {
    opacity: 0;
    visibility: hidden;
    transform: translateX(110%);
  }

  @media (max-width: 48em) {
    z-index: 50;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;
  }

  .simplebar-track {
    display: none;
  }

  // .chat__head

  &__head {
    padding: 0 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;

    background-color: var(--bg-black);

    @media (max-width: 48em) {
      flex: 0 0 6rem;
    }
  }

  // .chat__heading-wrap

  &__heading-wrap {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
  }

  // .chat__icon

  &__icon {
    svg {
      width: 2.6rem;
      height: 2.4rem;
    }
  }

  // .chat__heading

  &__heading {
    font: var(--font-text-m);
    line-height: 120%;
    text-transform: uppercase;
    color: var(--bg-white);
  }

  // .chat__close-btn

  &__close-btn {
    &.ic-btn {
      flex: 0 0 3.2rem;
      width: 3.2rem;
      height: 3.2rem;

      border: 1px solid var(--bg-brown);

      transition: border 0.4s ease-in-out;

      svg {
        color: var(--bg-white);
      }

      @media (any-hover: hover) {
        &:hover {
          border: 1px solid #9f6f5d6e;
        }
      }
    }
  }

  // .chat__body

  &__body {
    background-color: var(--bg-beige);

    @media (max-width: 48em) {
      flex: 1 1 auto;
    }
  }

  // .chat__inner

  &__inner {
    height: calc(100dvh - 6rem);

    @media (min-width: 48.01em) {
      display: grid;
      row-gap: 5rem;
      height: 44rem;
    }
  }

  // .chat__group

  &__group {
    &:not(:last-child) {
      .chat__options {
        margin-bottom: 5rem;
      }
    }
    &:not(._is-checked) {
      .chat__options {
        margin-bottom: 3rem;
      }
    }

    &:first-child {
      height: 44rem;

      @media (max-width: 48em) {
        height: 91dvh;
      }
    }
    &:last-child {
      margin-bottom: 3rem;
    }

    &:not(._is-active, ._is-checked) {
      display: none;
    }

    &._is-checked {
      opacity: 0.4;
    }
  }

  // .chat__group-content

  &__group-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 1.3rem;
    height: 100%;
  }

  // .chat__message

  &__message {
    margin-left: 1.5rem;
    padding: 1.4rem;

    width: 32.5rem;
    font-size: 1.8rem;
    line-height: 110%;

    background-color: rgba(162, 159, 157, 0.16);

    @media (max-width: 48em) {
      padding: 2rem;

      &:not(&_reply) {
        width: 34.5rem;
      }
    }

    &_reply {
      margin-left: auto;
      margin-bottom: 5rem;
      margin-right: 1.8rem;

      width: auto;

      background-color: rgba(120, 120, 120, 0.2);

      @media (max-width: 48em) {
        margin-right: 1.5rem;
      }

      &:not(._is-active) {
        display: none;
      }
    }
  }

  // .chat__input

  &__input {
    position: relative;

    margin-top: 1.7rem;

    ._is-checked & {
      display: none;
    }

    .chat__field,
    .chat__field::placeholder {
      font-family: 'Futura';
      font-size: 1.7rem;
      line-height: 130%;

      color: #262626;
    }
  }

  // .chat__field

  &__field {
    padding: 1.5rem 5rem 1.5rem 1.5rem;

    border-top: 1px solid rgba(120, 120, 120, 0.28);
    width: 100%;

    &::placeholder {
      opacity: 0.5;
    }
  }

  // .chat__input-btn

  &__input-btn {
    position: absolute;
    top: 50%;
    right: 1.5rem;

    display: inline-flex;

    transform: translateY(-50%);

    svg {
      width: 1.6rem;
      height: 1.5rem;
    }
  }

  // .chat__options

  &__options {
    margin-left: 1.5rem;

    width: 32.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0.8rem;

    @media (max-width: 48em) {
      width: 34.5rem;
    }
  }

  // .chat__option

  &__option {
  }
}

.chat-option {
  position: relative;

  @media (any-hover: hover) {
    &:hover {
      .chat-option__txt {
        color: var(--primary-lemon);

        background-color: var(--bg-brown);
      }
    }
  }

  // .chat-option__input

  &__input {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    appearance: none;

    &:checked + .chat-option__txt {
      color: var(--primary-lemon);

      background-color: var(--bg-brown);
    }
  }

  // .chat-option__txt

  &__txt {
    padding: 1.3rem 1.5rem;

    display: inline-flex;
    border: 1px solid var(--bg-brown);

    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;

    font: var(--font-text-xs);
    line-height: 1;
    text-transform: uppercase;

    @media (max-width: 48em) {
      padding: 1.5rem 2rem;
    }
  }
}

@keyframes chatAnim {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
