@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 600;
  src: url(@fonts/futurademic.woff2);
}
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 500;
  src: url(@fonts/FuturaCyrillicMedium.woff2);
}
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 400;
  src: url(@fonts/futurabookc.woff2);
}
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 300;
  src: url(@fonts/futuralightc.woff2);
}
@font-face {
  font-family: 'Circe Contrast';
  font-style: normal;
  font-weight: 400;
  src: url(@fonts/circlecontrast.woff2);
}
