.footer {
  background-color: var(--bg-black);

  @media (min-width: 48.01em) {
    position: relative;
    z-index: 50;
  }

  // .footer__top

  &__top {
  }

  // .footer__middle

  &__middle {
  }

  // .footer__container

  &__container {
  }

  // .footer__menu

  &__menu {
  }

  // .footer__link

  &__link {
    @media (any-hover: hover) {
      &:hover {
        color: var(--primary-brown);
      }
    }
  }

  // .footer__nav

  &__nav {
  }

  // .footer__nav-link

  &__nav-link {
  }
}
.top-footer {
  border-bottom: 0.1rem solid hsla(0, 0%, 100%, 0.3);
  border-top: 0.1rem solid hsla(0, 0%, 100%, 0.3);
  position: relative;

  @media (max-width: 74.999em) {
    padding-bottom: 3.6rem;
  }

  // .top-footer__container

  &__container {
    &.container {
      color: var(--bg-white);
      margin: 0 auto;
      padding: 0 2rem;

      @media (min-width: 64em) and (max-width: 75em) {
        padding: 0 10rem;
      }

      @media (min-width: 48em) {
        display: grid;
        gap: 3.2rem;
        grid-template-columns: 1fr 40rem;
      }
      @media (min-width: 48em) {
        column-gap: 3.2rem;
      }

      @media (min-width: 96em) {
        --inner-pd-y: 3.4rem;
        grid-template-columns: 1fr 39.2rem;
        max-width: 160rem;
        padding-left: 11rem;
      }

      @media (min-width: 100.001em) {
        border-right: 0.1rem solid hsla(0, 0%, 100%, 0.3);
      }
      @media (min-width: 75em) {
        --inner-pd-y: 3.2rem;
        display: grid;
        grid-template-columns: 1fr 34.2rem;
        padding-left: 10rem;
        padding-right: 10rem;
        padding-bottom: var(--inner-pd-y);
        padding-right: 0;
        padding-top: var(--inner-pd-y);
      }
    }
  }

  // .top-footer__content

  &__content {
    padding: 2rem 0 3.6rem;

    @media (min-width: 75em) {
      align-items: center;
      display: flex;
      gap: 8.8rem;
      padding: 0;
      width: 100%;
    }
    @media (min-width: 96em) {
      gap: 9.8rem;
    }
  }

  // .top-footer__logo-wrap

  &__logo-wrap {
    display: inline-flex;

    @media (max-width: 1199px) {
      margin-bottom: 3.2rem;
    }

    @media (max-width: 75em) {
      width: 20.1rem;
    }

    @media (max-width: 1198px) and (min-width: 75em) {
      width: 6.3rem;
    }
  }

  // .top-footer__logo

  &__logo {
    &._mobile-only {
      display: none;
    }
    svg path {
      fill: #fff;
    }
    svg {
      @media (min-width: 75em) and (max-width: 96em) {
        width: 6rem;
      }

      @media (min-width: 96em) {
        width: 8rem;
      }
    }
    @media (max-width: 1199px) {
      &._desktop-only {
        display: none;
      }
      &._mobile-only {
        display: block;
      }
    }
  }

  // .top-footer__block

  &__block {
    @media (min-width: 75em) {
      display: flex;
      gap: 7.2rem;
    }
    @media (min-width: 96em) {
      gap: 10rem;
    }
  }

  // .top-footer__contacts

  &__contacts {
    margin-bottom: 3.2rem;
    @media (min-width: 75em) {
      margin-bottom: 0;
    }

    > .top-footer__item {
      &:not(:last-child) {
        margin-bottom: 1.8rem;
      }
    }
  }

  // .top-footer__item

  &__item {
  }

  // .top-footer__title

  &__title {
    color: var(--primary-brown);
    font: var(--font-text-xs);
    letter-spacing: 0.091rem;
    margin: 0 0 1.2rem;
    text-transform: uppercase;

    @media (min-width: 96em) {
      margin: 0 0 2rem;
    }
  }

  // .top-footer__list

  &__list {
    // display: flex;
    // flex-wrap: wrap;
    // gap: 0.8rem;

    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    @media (min-width: 75em) {
      column-gap: 2.8rem;
    }
    @media (min-width: 96em) {
      column-gap: 2.4rem;
    }
  }

  // .top-footer__item-content

  &__item-content {
    color: var(--bg-white);
    font: var(--font-text-s);
    text-decoration: none;
    text-decoration-color: transparent;
    text-transform: uppercase;
    transition: all 0.4s ease;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }

    @media (min-width: 75em) {
      font: var(--font-text-m);
      letter-spacing: var(--font-spacing-5);
    }
    @media (min-width: 96em) {
      font: var(--font-text-l);
      letter-spacing: var(--font-spacing-2);
    }
  }

  // .top-footer__socials

  &__socials {
    @media (min-width: 75em) {
      flex-shrink: 0;
    }
  }

  // .top-footer__btns

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    @media (min-width: 48em) {
      justify-content: center;
    }
    @media (min-width: 75em) {
      border-left: 0.1rem solid hsla(0, 0%, 100%, 0.3);
      display: flex;
      flex-direction: column;
      gap: 0;
      margin: calc(var(--inner-pd-y) * -1) 0;
      width: 100%;
    }
    @media (min-width: 96em) {
      max-width: 42.7rem;
    }
  }

  // .top-footer__btn

  &__btn {
    position: relative;

    align-items: center;
    background-color: #ffffff29;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font: var(--font-heading-h7);
    justify-content: center;
    letter-spacing: var(--font-spacing-7);
    outline: none;
    padding: 1.8rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.4s ease;

    &:hover {
      background: #fff6;
    }

    &:first-child {
      &::after {
        @media (min-width: 75em) {
          background-color: #ffffff4d;
          bottom: 0;
          content: '';
          height: 1px;
          left: 0;
          position: absolute;
          right: 0;
        }
      }
    }

    @media (min-width: 75em) {
      background-color: var(--bg-black);
      height: 50%;
      line-height: 1;
      padding-bottom: 2.9rem;
      padding-top: 3rem;
    }
    @media (min-width: 96em) {
      padding-bottom: 3.4rem;
      padding-top: 3.5rem;
    }
  }
}

.socials-top-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;

  .ic-btn {
    height: 3.6rem;
    width: 3.6rem;

    svg {
      width: 2rem;
      height: 2rem;
    }
    @media (min-width: 1441px) {
      width: 4rem;
      height: 4rem;
    }
  }

  // .socials-top-footer__item

  &__item {
  }

  // .socials-top-footer__item-content

  &__item-content {
    transition: background-color var(--transition-duration);

    &:hover,
    &:focus,
    &:active {
      background-color: #ffffff29;
    }
  }
}

.middle-footer {
  padding: 3.6rem 0 4rem;
  @media (min-width: 75em) {
    padding: 3.8rem 0 4.3rem;
  }
  @media (min-width: 96em) {
    padding: 4.3rem 0 3.9rem;
  }

  &__list {
    display: flex;
    column-gap: 8rem;

    @media (max-width: 767px) {
      margin-bottom: 4rem;
      flex-wrap: wrap;
      row-gap: 4rem;
    }

    .middle-footer__list-subtitle {
      color: var(--primary-brown);
      @media (any-hover: hover) {
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__list-item,
  &__sublist {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }



  // .middle-footer__container

  &__container {
    &.container {
      @media (min-width: 48em) {
        display: grid;
        gap: 3.2rem;
        grid-template-columns: auto auto 40rem;
      }
      @media (min-width: 64em) and (max-width: 75em) {
        padding: 0 10rem;
        align-items: start;
      }
      @media (min-width: 75em) {
        gap: 3.2rem;
        grid-template-columns: auto auto 34.2rem;
        padding-right: 0;
      }
      @media (min-width: 96em) {
        grid-template-columns: auto auto 39.2rem;
        padding-left: 11rem;
      }
    }
  }

  // .middle-footer__menu

  &__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    @media (max-width: 47.999em) {
      margin-bottom: 4rem;
    }
    @media (min-width: 48em) {
      gap: 1.408rem 3.6rem;
      max-width: 33.6rem;
    }
    @media (min-width: 96em) {
      gap: 1.792rem 3.696rem;
    }
  }

  &__link,
  &__nav-link {
    @media (any-hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  // .middle-footer__link

  &__link {
    @media (max-width: 47.999em) {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    display: block;
    color: var(--bg-white);
    font: var(--font-text-xs);
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 0.3s ease-in-out;

    @media (min-width: 48em) {
      margin-bottom: 0;
    }
  }

  // .middle-footer__nav

  &__nav {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
  }

  // .middle-footer__nav-link

  &__nav-link {
    margin-bottom: 1.2rem;

    color: var(--bg-white);
    font: var(--font-text-xs);
    text-underline-offset: 0.3em;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
    @media (min-width: 75em) {
      margin-bottom: 1.392rem;
    }
    @media (min-width: 96em) {
      margin-bottom: 1.792rem;
    }
  }
}

.developer {
  border-top: 0.1rem solid hsla(0, 0%, 100%, 0.3);

  transition: background-color 0.3s ease;
  overflow: hidden;

  // .svg-l {
  //   fill: #ede7e2;
  //   transition: fill 0.3s ease;
  // }

  background-color: #262626;
  path {
    fill: white;
  }
  .svg-l {
    fill: #262626;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #fff;
      path {
        fill: #262626;
      }
      .svg-l {
        fill: #fff;
      }
    }
  }

  path {
    // fill: #262626;
    transition: fill 0.3s ease;
  }

  // .developer__container

  &__container {
  }

  // .developer__wrap

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    svg {
      width: 30rem;
    }
  }
}

.footer-club {
  .select {
    &__btn {
      --pd-y: 0.9rem;

      @media (max-width: 48em) {
        --pd-y: 1.8rem;
      }
    }
  }
  .checkbox {
    margin-top: -1rem;

    grid-column: span 2;

    @media (max-width: 48em) {
      margin-top: -2rem;
    }

    a {
      color: var(--bg-brown);
    }

    &__input {
      --c-border: #c58b73;
      --c-bg: transparent;
    }
    &__label {
      color: var(--bg-super-black);
    }
  }
  .field {
    &__label {
      line-height: 97%;
    }
  }

  // .footer-club__container

  &__container {
    display: flex;
    flex-direction: column;
  }

  // .footer-club__upper

  &__upper {
    padding-bottom: 8.5rem;
    padding-top: 10rem;

    display: grid;
    grid-template-columns: 46rem 1fr;
    column-gap: 9rem;
    border-bottom: 1px solid #676767;

    @media (max-width: 1300px) {
      grid-template-columns: 28rem 1fr;
    }

    @media (max-width: 48em) {
      padding-top: 14rem;
      padding-bottom: 6rem;

      display: flex;
      flex-direction: column;
    }
  }

  // .footer-club__text-wrap

  &__text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    @media (max-width: 48em) {
      margin-bottom: 9rem;
    }
  }

  // .footer-club__heading

  &__heading {
    font-family: 'Circe Contrast';
    font-size: 5.6rem;
    line-height: 100%;
    text-transform: uppercase;
    color: #262626;

    @media (min-width: 48.01em) {
      max-width: 45rem;

      font-size: 2.8rem;
    }
  }

  // .footer-club__txt

  &__txt {
    font: var(--font-text-l);

    @media (min-width: 64em) and (max-width: 96em) {
      align-self: center;
    }
    @media (max-width: 48em) {
      font-size: 3.4rem;
      line-height: 130%;
      font-weight: 450;
    }
  }

  // .footer-club__form

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 4.8rem;

    @media (max-width: 48em) {
      .checkbox {
        margin: 0.3rem 0;
      }
      .btn {
        margin: 0;

        width: 100%;

        text-align: center;
      }
    }

    @media (min-width: 48.01em) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: end;
      column-gap: 2rem;
      row-gap: 2.7rem;
    }
  }

  // .footer-club__field

  &__field {
  }

  // .footer-club__select

  &__select {
  }

  // .footer-club__btn

  &__btn {
    &.btn_brown.btn.ts {
      font-size: 1.4rem;
      letter-spacing: 0;
      padding: 2rem 7.5rem;

      justify-self: start;
      align-self: start;

      @media (min-width: 64em) and (max-width: 96em) {
        justify-self: auto;
        text-align: center;
      }

      @media (max-width: 48em) {
        padding: 4rem;

        order: 1;

        font-size: 2.8rem;
      }
    }
  }

  // .footer-club__checkbox

  &__checkbox {
    grid-column: span 2;
  }

  // .footer-club__lower

  &__lower {
    padding-top: 3.2rem;
    padding-bottom: 6.2rem;

    display: flex;

    @media (max-width: 48em) {
      padding: 5rem 0 8.8rem 0;

      flex-direction: column;
    }
  }

  // .footer-club__logo

  &__logo {
    margin-right: 16rem;

    flex: 0 0 39.4rem;
    width: 39.4rem;

    @media (min-width: 64em) and (max-width: 96em) {
      margin-right: 5rem;
    }

    @media (min-width: 48.01em) {
      flex: 0 0 26.7rem;
      width: 26.7rem;
    }

    @media (max-width: 48em) {
      margin-bottom: 8.8rem;
      margin-right: 0;

      flex: 0 0 auto;
    }
  }

  // .footer-club__group

  &__group {
    margin-right: auto;

    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;

    @media (max-width: 48em) {
      margin-right: 0;
      padding-bottom: 6rem;
      margin-bottom: 3.6rem;

      row-gap: 4rem;
      border-bottom: 1px solid var(--bg-brown);
    }
  }

  // .footer-club__subtitle

  &__subtitle {
    font: var(--font-text-s);
    text-transform: uppercase;

    @media (max-width: 48em) {
      font-size: 3.2rem;
      color: var(--bg-brown);
    }
  }

  // .footer-club__contacts

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;

    @media (max-width: 48em) {
      row-gap: 2.6rem;
    }
  }

  // .footer-club__contacts-item

  &__contacts-item {
  }

  // .footer-club__contacts-item-content

  &__contacts-item-content {
    font-weight: 500;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    @media (max-width: 48em) {
      font-size: 3.2rem;
    }
  }

  // .footer-club__policy

  &__policy {
    padding-right: 1rem;

    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;

    @media (max-width: 48em) {
      padding-right: 0;

      row-gap: 2.4rem;
    }
  }

  // .footer-club__policy-item

  &__policy-item {
  }

  // .footer-club__policy-item-content

  &__policy-item-content {
    font: var(--font-text-s);

    @media (max-width: 48em) {
      font-size: 3.2rem;
    }
  }
}
