// -------------------------------- variables -------------------------------

// colors
:root {
  --font-family-main: "Futura", sans-serif;
  --font-family-second: "Circe Contrast", serif;
  --font-size-13: 1.3rem;
  --font-size-116: 11.6rem;
  --font-heading-h7: 500 var(--font-size-13) / 1.2 var(--font-family-main);

  --bg-super-black: #151515;
  --primary-black: #000000;
  --primary-brown: #c58b73;
  --bg-black: #262626;
  --primary-lemon: #ff0;
  --primary-brown: #ad8366;
  --bg-beige: #ede7e2;
  --bg-gray: rgba(120, 120, 120);
  --bg-blue-green: #26333c;
  --bg-brown: #9f6f5d;
  --primary-txt-color: #262626;
  --primary-bg-color: #ede7e2;
  --bg-white: #fff;
  --bg-green: #3c4b45;
  --primary-gray: #505050;

  --font-heading-h7: 500 var(--font-size-13) / 1.2 var(--font-family-main);
  --font-heading-h1-large: 400 var(--font-size-116) / 100%
    var(--font-family-second);
  --font-size-80: 8rem;
  --font-size-64: 6.4rem;
  --font-size-60: 6rem;
  --font-size-52: 5.2rem;
  --font-size-48: 4.8rem;
  --font-size-50: 5rem;
  --font-size-38: 3.8rem;
  --font-size-34: 3.4rem;
  --font-size-28: 2.8rem;
  --font-size-24: 2.4rem;
  --font-size-20: 2rem;
  --font-size-18: 1.8rem;
  --font-size-17: 1.7rem;
  --font-size-16: 1.6rem;
  --font-size-14: 1.4rem;
  --font-size-13: 1.3rem;
  --font-spacing-2: 0.02em;
  --font-spacing-5: 0.05em;
  --font-spacing-7: 0.07em;
  --font-spacing-30: 0.3em;
  --font-heading-h0: 400 var(--font-size-34) / 1.16 var(--font-family-second);
  --font-heading-h1: 400 var(--font-size-34) / 1.16 var(--font-family-second);
  --font-heading-h2: 400 var(--font-size-28) / 1.2 var(--font-family-second);
  --font-heading-h3: 400 var(--font-size-28) / 1.4 var(--font-family-second);
  --font-heading-h4: 600 var(--font-size-20) / 1.4 var(--font-family-main);
  --font-heading-h5: 600 var(--font-size-18) / 1.32 var(--font-family-main);
  --font-heading-h6: 600 var(--font-size-16) / 1.4 var(--font-family-main);
  --font-heading-h7: 500 var(--font-size-13) / 1.2 var(--font-family-main);
  --font-text-xl: 400 var(--font-size-18) / 1.32 var(--font-family-main);
  --font-text-l: 400 var(--font-size-17) / 1.32 var(--font-family-main);
  --font-text-m: 400 var(--font-size-17) / 1.4 var(--font-family-main);
  --font-text-s: 400 var(--font-size-16) / 1.3 var(--font-family-main);
  --font-text-xs: 400 var(--font-size-13) / 1.2 var(--font-family-main);
  --logo-mobile-color: var(--bg-black);
  --hero-carousel-padding-top: 35vh;

  --transition-duration-fast: 0.175s;
  --transition-duration: 0.25s;

  @media (min-width: 100em) {
    --font-heading-h0: 400 var(--font-size-80) / 1.08 var(--font-family-second);
    --font-heading-h1: 400 var(--font-size-64) / 1.16 var(--font-family-second);
    --font-heading-h2: 400 var(--font-size-60) / 1.16 var(--font-family-second);
    --font-heading-h3: 500 var(--font-size-48) / 1.26 var(--font-family-second);
    --font-heading-h4: 600 var(--font-size-28) / 1.4 var(--font-family-main);
    --font-heading-h5: 600 var(--font-size-24) / 1.32 var(--font-family-main);
    --font-heading-h6: 600 var(--font-size-20) / 1.4 var(--font-family-main);
    --font-text-xl: 400 var(--font-size-28) / 1.32 var(--font-family-main);
    --font-text-l: 400 var(--font-size-24) / 1.32 var(--font-family-main);
    --font-text-m: 400 var(--font-size-20) / 1.4 var(--font-family-main);
    --font-text-s: 400 var(--font-size-18) / 1.3 var(--font-family-main);
    --font-text-xs: 400 var(--font-size-14) / 1.2 var(--font-family-main);
    --hero-carousel-padding-top: 31vh;
  }

  @media (min-width: 64em) {
    --font-heading-h0: 400 var(--font-size-64) / 1.08 var(--font-family-second);
    --font-heading-h1: 400 var(--font-size-52) / 1.16 var(--font-family-second);
    --font-heading-h2: 400 var(--font-size-50) / 100% var(--font-family-second);
    --font-heading-h3: 400 var(--font-size-38) / 1.4 var(--font-family-second);
    --font-heading-h4: 600 var(--font-size-24) / 1.4 var(--font-family-main);
    --font-heading-h5: 600 var(--font-size-20) / 1.32 var(--font-family-main);
    --font-heading-h6: 600 var(--font-size-17) / 1.4 var(--font-family-main);
    --font-text-xl: 400 var(--font-size-24) / 1.32 var(--font-family-main);
    --font-text-l: 400 var(--font-size-20) / 1.32 var(--font-family-main);
    --hero-carousel-padding-top: 27vh;
  }
}

// ---------------------------------- fonts ---------------------------------

// local fonts
@import "base/fonts";

// ------------------------------- base styles ------------------------------

// base scss file
@import "base/set";

@import "base/header";
@import "base/footer";
@import "base/modals";
@import "base/cookie";
@import "base/cta";
@import "base/common-page";
@import "base/error-page";
@import "base/chat";

//  {
//   body {
//     overflow: hidden;
//     touch-action: none;
//   }
// }

.wrapper {
  overflow-x: clip;
}

.video-js {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-read-more] {
  &::after {
    @media (min-width: 48.01em) {
      .silicone & {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

[for="trial-form-block-trial-name"],
[for="trial-form-block-trial-phone"] {
  @media (max-width: 64em) {
    order: -1;
  }
}

[data-sb] {
  .simplebar-content-wrapper {
    overflow-x: hidden !important;
  }
  .simplebar-horizontal {
    display: none;
  }
  .simplebar-track.simplebar-vertical {
    right: -8px;

    .simplebar-scrollbar {
      right: 0;

      &::before {
        left: auto;
        right: 3px;

        width: 2px;

        background: rgba(255, 255, 255, 0.4);

        opacity: 1;
      }
    }
  }
}

.guide-modal__right {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.guide-modal__right::-webkit-scrollbar {
  display: none;
}

.project__block {
  table {
    overflow-x: scroll;
    width: 100%;
    display: block;
    border: none;

    * {
      border: none;
    }
    td {
      padding: 1rem;
      p {
        font-size: 16px;
      }
    }
    > * {
      min-width: -webkit-fill-available;
      width: fit-content;
      display: inline-table;
    }

    tbody {
      position: relative;
      tr {
        &:nth-child(odd) {
          background-color: #e5ddd9;
        }
      }
      td {
        min-width: 185px;

        @media (max-width: 48em) {
          min-width: 160px;
        }
      }
    }
  }
}

.button:disabled {
  opacity: 0.5;
}

main {
  position: relative;
  z-index: 50;
}

._show-menu {
  overflow: hidden;
}
._show-chat {
  @media (max-width: 48em) {
    overflow: hidden;
  }
}

.simplebar-content-wrapper {
  overflow: scroll !important;
}
.table-wrapper {
  font: var(--font-text-m);
  margin-bottom: 2rem;
  max-width: 100%;
  overflow-x: auto;

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar {
    height: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--bg-brown);
    border-radius: 0.625rem;
  }

  table {
    border: none;
    border-collapse: collapse;
    table-layout: fixed;

    font: var(--font-text-m);

    &._alt {
      border-top: 1px solid var(--primary-brown);

      td {
        padding: 1.2rem 1rem 1.6rem 0;

        @media (min-width: 96em) {
          padding: 2rem 3rem 2.4rem 0;
        }
      }
    }

    &:not(._alt) {
      width: 602px;

      td {
        vertical-align: top;
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
        border-right: 1px solid #000000;
        border-left: 1px solid #000000;
      }
    }

    tbody tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      &:first-child {
        p {
          font-weight: 600;
          text-align: center;
        }
      }
    }

    td {
      padding: 7px 7px 7px 7px;

      color: var(--c-bg-black);
    }

    p {
      line-height: 1.2;
      text-align: left;
      font: var(--font-text-m);
      color: rgb(0, 0, 0);
    }
  }
}

.section,
.section.container {
  position: relative;

  @media (min-width: 75em) {
    padding-top: 17.3rem;
  }

  @media (min-width: 96em) {
    padding-top: 19.8rem;
  }
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
._primary-lemon {
  color: var(--primary-lemon);
}

[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.swiper-button-lock
  + .swiper-pagination-bullets.swiper-pagination-horizontal.controls__pagination {
  display: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  transition-delay: 0s;
  transition-duration: 0s;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

// ------------------------------- common styles ----------------------------

// --------------------------------------------------------------------------

@import "common/layout";
@import "common/button";
@import "common/typo";
@import "common/filters";
@import "common/controls";
@import "common/form";
@import "common/reg-banner";

// sections
@import "sections/hero";
@import "sections/rezidents";
@import "sections/infographics";
@import "sections/request";
@import "sections/cases";
@import "sections/project";
@import "sections/calendar";
@import "sections/events";
@import "sections/residents";
@import "sections/events-description";
@import "sections/form-exclusive";
@import "sections/media-lead";
@import "sections/media-grid";
@import "sections/subscribe-form";
@import "sections/signature";
@import "sections/bg-image";
@import "sections/carousel";
@import "sections/products";
@import "sections/mobapp";
@import "sections/tg";
@import "sections/hero-club";
@import "sections/guests";
@import "sections/time";
@import "sections/schedule";
@import "sections/gallery";
@import "sections/testimonials";
@import "sections/events-hero";
@import "sections/values";
@import "sections/events-info";

@import "sections/about-hero";
@import "sections/about-numbers";
@import "sections/about-manifest";
@import "sections/about-infographics";
@import "sections/about-values";
@import "sections/about-culture";
@import "sections/about-residents";
@import "sections/about-speakers";
@import "sections/about-events";
@import "sections/about-reviews";
@import "sections/about-community";
@import "sections/about-principles";
@import "sections/guest-access";
@import "sections/guest-access-request";
@import "sections/countdown-banner";

@import "sections/dating";
